*,
*::before,
*::after {
    box-sizing: border-box;
}

//common style 
.mgr-10 {
    margin-left: 10px;
}

input {
    -webkit-appearance: none;
}

body {
    background-color: #cfd7e2;

    main {
        .password-change-box {
            margin-top: 10%;
            margin-bottom: 10%;

            h2 {
                text-align: center;
                border-bottom: solid 2px #b02c54;
                font-family: "メイリオ";
            }

            form {
                p {
                    width: 80%;
                    margin-left: 10%;

                    label {
                        font-family: "メイリオ";
                        font-size: 3vh;
                        width: 100%;
                    }

                    input {
                        outline: none;
                        width: 100%;
                        height: 5vh;
                        border-radius: 5px;
                        border: solid 2px #b39f5b;
                    }

                    input:focus {
                        box-shadow: 0 0 10px gray;
                    }
                }

                ul {
                    margin-left: 10%;
                }

                #login_button {
                    width: 70%;
                    margin-left: 15%;
                    margin-top: 3%;
                }
            }
        }
    }
}