*,
*::before,
*::after {
    box-sizing: border-box;
}

//common style
.mgr-10 {
    margin-left: 10px;
}

input {
    -webkit-appearance: none;
}


h1 {
    color: #778899;
    border-top: 2px solid #4682b4;
    border-bottom: 2px solid #4682b4;
}

h2,
h3,
h4,
h5,
h6 {
    color: #b0c4de;
    border-top: 2px solid #8fbc8f;
    border-bottom: 2px solid #8fbc8f;
}

main {
    div {
        div {
            #left-box {}

            #main-box {
                margin: 20px 0px;
                border: solid 2px #d3d3d3;
                box-shadow: 0 0 10px #d3d3d3;

                .title-box {
                    margin-top: 40px;
                    border-bottom: solid 2px #4682b4;
                    border-top: solid 2px #4682b4;

                    .title-p {
                        margin-left: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        font-family: 'arila', 'Yu Gothic';
                        color: #4682b4;
                        font-size: 1.2rem;
                    }
                }

                .contents-box {
                    margin-top: 10%;
                }
            }

            #right-box {}
        }
    }
}