*,
*::before,
*::after {
    box-sizing: border-box;
}

//common style 
.mgr-10 {
    margin-left: 10px;
}

.hr-line {
    height: 2px;
    background-color: gray;
}

h1 {
    color: black;
    border-left: 10px solid #1a244d;
}

h2,
h3,
h4,
h5,
h6 {
    color: black;
    border-left: 10px solid #29397a;
}


main {
    background-color: #bbccdd;

    div {
        div {
            #article-content {
                background-color: white;
                margin: 20px 20px;

                #user-info {
                    margin: 10px 10px;

                    a {
                        margin: 0px 10px;

                        img {
                            height: 80px;
                            width: auto;
                            border-radius: 50%;
                        }
                    }
                }

                #article-info {
                    padding: 50px 50px;

                    #tag-box {
                        width: 50%;
                    }

                    #good-box {
                        width: 50%;

                        #good-number {
                            display: inline-block;
                        }

                        #good-post {
                            display: inline-block;

                            form {
                                button {
                                    border: none;
                                    border-radius: 2px;
                                    background-color: #114477;
                                    color: white;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                #article-content-box {
                    .widget-toc{
                        display: table;
                        border: 1px solid #a2a9b1;
                        background-color: #f8f9fa;
                        padding-right: 1rem;
                        font-size: 95%;
                        width: 50%;
                    }
                    
                    .widget-toc  ol {
                        padding-right: 0px;
                        counter-reset: item;
                    }
                    .widget-toc ol li {
                        display: block;
                        position: relative;
                    }
                    .widget-toc  ol li:before {
                        content: counters(item, ".");
                        counter-increment: item;
                        position: absolute;
                        margin-right: 100%;
                        right: 0.5rem;
                    }
                    
                    
                    .toc-title{
                    
                        text-align: center;
                        font-weight: 700;
                        margin: 0;
                        padding: 0;
                    
                    }

                    #title {
                        padding: 20px;
                        font-size: 1.5rem;
                        background-color: #114477;
                        border-radius: 5px;
                        color: white;
                    }
                }

                #comment-display-box {
                    font-family: "arial", "MS Gothic";

                    .each-user-comment-box {
                        margin: 10px 0px;

                        .commentor-info {
                            a {
                                img {
                                    height: 40px;
                                    width: auto;
                                    border-radius: 50%;
                                }
                            }
                        }

                        .comment-content {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}