*,
*::before,
*::after {
    box-sizing: border-box;
}

//common style 
.mgr-10 {
    margin-left: 10px;
}

.hr-line {
    height: 2px;
    background-color: gray;
}

.common-font {
    font-family: "MS Gothic", "arial";
}

body {
    position: relative;
}

span {
    max-width: 100%;
}

//for smartphone
@media screen and (max-width:767px) {
    main {
        background-color: #bbccdd;

        .row {
            margin: 0px;
        }

        .container-fluid {
            margin: 0px;
            padding:0px;
        }
        div {
            div {
                #article-content {
                    background-color: white;
                    padding: 5px 5px;
                    font-size:0.6rem;

                    #article-info-box {
                        padding : 10px 10px;

                        #article-sub-info{

                            span {
                                margin-right: 5px;
                            }
                        }
                    }

                    #user-info {
                        margin: 2px 2px;

                        p {
                            padding: 5px 5px;
                            background-color: #fff8dc;
                            border-radius: 3px;
                            color:#a17636;
                            font-size: 1.2rem;
                        }

                        a {
                            margin: 0px 3px;
                            color:#a17636;

                            img {
                                height: 80px;
                                width: auto;
                                background: linear-gradient(-45deg, #c21500 0%, #ffc500 100%);
                                border-radius: 50%;
                            }
                        }
                    }

                    #good-box {
                        width: 50%;
                        padding:0 0 10px 10px ;

                        #good-post {
                            display: inline-block;

                            form {
                                button {
                                    height: 30px;
                                    width: 30px;
                                    border: none;
                                    border-radius: 2px;
                                    background-color: #114477;
                                    color: white;
                                    cursor: pointer;
                                }

                                button:hover {
                                    height: 35px;
                                    width: 35px;
                                    background-color:#ffc500;
                                    transition: width 0.3s, height 0.3s;
                                }
                            }
                        }
                        #good-number {
                            display: inline-block;
                            padding-left:10px;
                        }
                    }

                    #expand-page {
                        text-align: right;

                        a {
                            color:black;
                            i {
                                cursor: pointer;
                            }
                            i:hover {
                                color:#d84450;
                                transition: width 0.3s, height 0.3s;
                            }
                        }
                    }

                    #title {
                        font-size: 1.2rem;
                    }

                    #toc-nav {
                        h2 {
                            text-align: center;
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                        ul {
                            display: block;
                            li {
                                a {
                                    color:#29397a;
                                }
                                a:hover {
                                    color: white;
                                }
                            }
                        }
                    }

                    #article-content-box {
                        padding: 3px;
                        overflow-y: scroll;

                        .widget-toc{
                            display: table;
                            border: 1px solid #a2a9b1;
                            background-color: #f8f9fa;
                            padding-right: 1rem;
                            font-size: 95%;
                            width: 50%;
                        }
                        
                        .widget-toc  ol {
                            padding-right: 0px;
                            counter-reset: item;
                        }
                        .widget-toc ol li {
                            display: block;
                            position: relative;
                        }
                        .widget-toc  ol li:before {
                            content: counters(item, ".");
                            counter-increment: item;
                            position: absolute;
                            margin-right: 100%;
                            right: 0.5rem;
                        }
                        
                        
                        .toc-title{
                            text-align: center;
                            font-weight: 700;
                            margin: 0;
                            padding: 0;
                        
                        }
                    }

                    #comment-display-box {
                        font-family: "arial", "MS Gothic";

                        .each-user-comment-box {
                            margin: 10px 0px;

                            .commentor-info {
                                a {
                                    img {
                                        height: 40px;
                                        width: auto;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            .comment-content {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }

        #subcontents-box {

            #table-of-contents {
                display: none;
                margin: 0 0 30px 0;
                h2 {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                }
                nav {
                    ul {
                        display: block;
                        li {
                            a {
                                color:#29397a;
                            }
                            a:hover {
                                color: white;
                            }
                        }
                    }
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }

    #article-content-box {
        padding: 3px;
        position: relative;
        overflow-y: scroll;
        font-size: clamp(12px, 14px, 1.2rem);

        .cke_editable {
            font-size: 13px;
            line-height: 0px;
        
            
            word-wrap: break-word;
        }
        
        blockquote {
            font-style: italic;
            font-family: Georgia, Times, "Times New Roman", serif;
            padding: 2px 0;
            border-style: solid;
            border-color: #ccc;
            border-width: 0;
        }
        
        .cke_contents_ltr blockquote {
            padding-left: 20px;
            padding-right: 8px;
            border-left-width: 5px;
        }
        
        .cke_contents_rtl blockquote {
            padding-left: 8px;
            padding-right: 20px;
            border-right-width: 5px;
        }
        
        a {
            color: #0782C1;
        }
        
        ol,
        ul,
        dl {
            padding: 0 40px;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0 0 5px 0;
            border-bottom:solid 2px black;
            font-weight: bold;
            line-height: 1.2;
        }

        h1 {
            font-size:1.2rem;
        }

        h2 {
            font-size: 1.1rem;
        }

        h3 {
            font-size: 1rem;
        }

        h4,
        h5,
        h6 {
            font-size: 0.9rem;
        }
        
        hr {
            border: 0px;
            border-top: 1px solid #ccc;
        }
        
        img.right {
            border: 1px solid #ccc;
            float: right;
            margin-left: 15px;
            padding: 5px;
        }
        
        img.left {
            border: 1px solid #ccc;
            float: left;
            margin-right: 15px;
            padding: 5px;
        }
        
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            -moz-tab-size: 4;
            tab-size: 4;
        }
        
        .marker {
            background-color: Yellow;
        }
        
        span[lang] {
            font-style: italic;
        }
        
        figure {
            text-align: center;
            outline: solid 1px #ccc;
            background: rgba(0, 0, 0, 0.05);
            padding: 10px;
            margin: 10px 20px;
            display: inline-block;
        }
        
        figure>figcaption {
            text-align: center;
            display: block;
        }
        
        a>img {
            padding: 1px;
            margin: 1px;
            border: none;
            outline: 1px solid #0782C1;
        }
        
        .code-featured {
            border: 5px solid red;
        }
        
        .math-featured {
            padding: 20px;
            box-shadow: 0 0 2px rgba(200, 0, 0, 1);
            background-color: rgba(255, 0, 0, 0.05);
            margin: 10px;
        }
        
        .image-clean {
            border: 0;
            background: none;
            padding: 0;
        }
        
        .image-clean>figcaption {
            font-size: .9em;
            text-align: right;
        }
        
        .image-grayscale {
            background-color: white;
            color: #666;
        }
        
        .image-grayscale img,
        img.image-grayscale {
            filter: grayscale(100%);
        }
        
        .embed-240p {
            max-width: 426px;
            max-height: 240px;
            margin: 0 auto;
        }
        
        .embed-360p {
            max-width: 640px;
            max-height: 360px;
            margin: 0 auto;
        }
        
        .embed-480p {
            max-width: 854px;
            max-height: 480px;
            margin: 0 auto;
        }
        
        .embed-720p {
            max-width: 1280px;
            max-height: 720px;
            margin: 0 auto;
        }
        
        .embed-1080p {
            max-width: 1920px;
            max-height: 1080px;
            margin: 0 auto;
        }
    }
}

//desktop
@media screen and (min-width:768px) {
    main {
        background-color: #bbccdd;
    
        div {
            padding: 10px 10px 10px 10px;
            div {
                #article-content {
                    background-color: white;
                    padding: 20px 20px;
    
                    #article-info-box {
                        padding : 10px 10px;
    
                        #article-sub-info{
    
                            span {
                                margin-right: 5px;
                            }
                        }
                    }
    
                    #user-info {
                        margin: 10px 10px;
    
                        p {
                            padding: 20px 20px;
                            background-color: #fff8dc;
                            border-radius: 3px;
                            color:#a17636;
                            font-size: 1.5rem;
                        }
    
                        a {
                            text-decoration: none;
                            margin: 0px 10px;
                            color:#a17636;
    
                            img {
                                height: 80px;
                                width: auto;
                                background: linear-gradient(-45deg, #c21500 0%, #ffc500 100%);
                                border-radius: 50%;
                            }
                        }
                    }
    
                    #good-box {
                        width: 50%;
    
                        #good-number {
                            display: inline-block;
                        }
    
                        #good-post {
                            display: inline-block;
    
                            form {
                                button {
                                    height: 30px;
                                    width: 30px;
                                    border: none;
                                    border-radius: 2px;
                                    background-color: #114477;
                                    color: white;
                                    cursor: pointer;
                                }
    
                                button:hover {
                                    height: 35px;
                                    width: 35px;
                                    background-color:#ffc500;
                                    transition: width 0.3s, height 0.3s;
                                }
                            }
                        }
                    }

                    #expand-page {
                        text-align: right;

                        a {
                            color:black;
                            i {
                                cursor: pointer;
                            }
                            i:hover {
                                color:#d84450;
                                transition: width 0.3s, height 0.3s;
                            }
                        }
                    }

                    #toc-nav {
                        display: none;
                    }
    
                    #article-content-box {
                        padding: 20px 20px 20px 20px;
                        position: relative;
                        overflow-y: scroll;

                        .widget-toc{
                            display: table;
                            border: 1px solid #a2a9b1;
                            background-color: #f8f9fa;
                            padding-right: 1rem;
                            font-size: 95%;
                            width: 50%;
                        }
                        
                        .widget-toc  ol {
                            padding-right: 0px;
                            counter-reset: item;
                        }
                        .widget-toc ol li {
                            display: block;
                            position: relative;
                        }
                        .widget-toc  ol li:before {
                            content: counters(item, ".");
                            counter-increment: item;
                            position: absolute;
                            margin-right: 100%;
                            right: 0.5rem;
                        }
                        
                        
                        .toc-title{
                        
                            text-align: center;
                            font-weight: 700;
                            margin: 0;
                            padding: 0;
                        
                        }
                    }
    
                    #comment-display-box {
                        font-family: "arial", "MS Gothic";
    
                        .each-user-comment-box {
                            margin: 10px 0px;
    
                            .commentor-info {
                                a {
                                    img {
                                        height: 40px;
                                        width: auto;
                                        border-radius: 50%;
                                    }
                                }
                            }
    
                            .comment-content {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    
        #subcontents-box {
            h2 {
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
            }
    
            #table-of-contents {
                position: sticky;
                position: -webkit-sticky;
                top: 40px;
                margin: 0 0 0 30px;
                nav {
                    ul {
                        display: block;
                        li {
                            a {
                                color:#29397a;
                            }
                            a:hover {
                                color: white;
                            }
                        }
                    }
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
    
    #article-content-box {
        .cke_editable {
            font-size: 13px;
            line-height: 0px;
            word-wrap: break-word;
        }
        
        blockquote {
            font-style: italic;
            font-family: Georgia, Times, "Times New Roman", serif;
            padding: 2px 0;
            border-style: solid;
            border-color: #ccc;
            border-width: 0;
        }
        
        .cke_contents_ltr blockquote {
            padding-left: 20px;
            padding-right: 8px;
            border-left-width: 5px;
        }
        
        .cke_contents_rtl blockquote {
            padding-left: 8px;
            padding-right: 20px;
            border-right-width: 5px;
        }
        
        a {
            color: #0782C1;
        }
        
        ol,
        ul,
        dl {
            padding: 0 40px;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0 0 5px 0;
            border-bottom:solid 2px black;
            font-weight: bold;
            line-height: 1.2;
        }
        
        hr {
            border: 0px;
            border-top: 1px solid #ccc;
        }
        
        img.right {
            border: 1px solid #ccc;
            float: right;
            margin-left: 15px;
            padding: 5px;
        }
        
        img.left {
            border: 1px solid #ccc;
            float: left;
            margin-right: 15px;
            padding: 5px;
        }
        
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            -moz-tab-size: 4;
            tab-size: 4;
        }
        
        .marker {
            background-color: Yellow;
        }
        
        span[lang] {
            font-style: italic;
        }
        
        figure {
            text-align: center;
            outline: solid 1px #ccc;
            background: rgba(0, 0, 0, 0.05);
            padding: 10px;
            margin: 10px 20px;
            display: inline-block;
        }
        
        figure>figcaption {
            text-align: center;
            display: block;
        }
        
        a>img {
            padding: 1px;
            margin: 1px;
            border: none;
            outline: 1px solid #0782C1;
        }
        
        .code-featured {
            border: 5px solid red;
        }
        
        .math-featured {
            padding: 20px;
            box-shadow: 0 0 2px rgba(200, 0, 0, 1);
            background-color: rgba(255, 0, 0, 0.05);
            margin: 10px;
        }
        
        .image-clean {
            border: 0;
            background: none;
            padding: 0;
        }
        
        .image-clean>figcaption {
            font-size: .9em;
            text-align: right;
        }
        
        .image-grayscale {
            background-color: white;
            color: #666;
        }
        
        .image-grayscale img,
        img.image-grayscale {
            filter: grayscale(100%);
        }
        
        .embed-240p {
            max-width: 426px;
            max-height: 240px;
            margin: 0 auto;
        }
        
        .embed-360p {
            max-width: 640px;
            max-height: 360px;
            margin: 0 auto;
        }
        
        .embed-480p {
            max-width: 854px;
            max-height: 480px;
            margin: 0 auto;
        }
        
        .embed-720p {
            max-width: 1280px;
            max-height: 720px;
            margin: 0 auto;
        }
        
        .embed-1080p {
            max-width: 1920px;
            max-height: 1080px;
            margin: 0 auto;
        }
    }
}