*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mgr-10 {
  margin-left: 10px;
}

.hr-line {
  height: 2px;
  background-color: gray;
}

.common-font {
  font-family: "MS Gothic", "arial";
}

h1 {
  color: black;
  border-left: 10px solid #1a244d;
}

h2,
h3,
h4,
h5,
h6 {
  color: black;
  border-left: 10px solid #29397a;
}

body {
  position: relative;
}

main {
  background-color: #bbccdd;
}

main div {
  padding: 10px 10px 10px 10px;
}

main div div #article-content {
  background-color: white;
  padding: 20px 20px;
}

main div div #article-content #article-info-box {
  padding: 10px 10px;
}

main div div #article-content #article-info-box #article-sub-info span {
  margin-right: 5px;
}

main div div #article-content #user-info {
  margin: 10px 10px;
}

main div div #article-content #user-info p {
  padding: 20px 20px;
  background-color: #fff8dc;
  border-radius: 3px;
  color: #a17636;
  font-size: 1.5rem;
}

main div div #article-content #user-info a {
  margin: 0px 10px;
  color: #a17636;
}

main div div #article-content #user-info a img {
  height: 80px;
  width: auto;
  background: linear-gradient(-45deg, #c21500 0%, #ffc500 100%);
  border-radius: 50%;
}

main div div #article-content #good-box {
  width: 50%;
}

main div div #article-content #good-box #good-number {
  display: inline-block;
}

main div div #article-content #good-box #good-post {
  display: inline-block;
}

main div div #article-content #good-box #good-post form button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 2px;
  background-color: #114477;
  color: white;
  cursor: pointer;
}

main div div #article-content #good-box #good-post form button:hover {
  height: 35px;
  width: 35px;
  background-color: #ffc500;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}

main div div #article-content #article-content-box {
  padding: 20px 20px 20px 20px;
  position: relative;
}

main div div #article-content #article-content-box .widget-toc {
  display: table;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding-right: 1rem;
  font-size: 95%;
  width: 50%;
}

main div div #article-content #article-content-box .widget-toc ol {
  padding-right: 0px;
  counter-reset: item;
}

main div div #article-content #article-content-box .widget-toc ol li {
  display: block;
  position: relative;
}

main div div #article-content #article-content-box .widget-toc ol li:before {
  content: counters(item, ".");
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 0.5rem;
}

main div div #article-content #article-content-box .toc-title {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

main div div #article-content #article-content-box #title {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #114477;
  border-radius: 5px;
  color: white;
}

main div div #article-content #comment-display-box {
  font-family: "arial", "MS Gothic";
}

main div div #article-content #comment-display-box .each-user-comment-box {
  margin: 10px 0px;
}

main div div #article-content #comment-display-box .each-user-comment-box .commentor-info a img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

main div div #article-content #comment-display-box .each-user-comment-box .comment-content {
  margin-top: 10px;
}

main #subcontents-box #table-of-contents {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
  margin: 0 0 0 30px;
}

main #subcontents-box #table-of-contents nav ul {
  display: block;
}

main #subcontents-box #table-of-contents nav ul li a {
  color: #29397a;
}

main #subcontents-box #table-of-contents nav ul li a:hover {
  color: white;
}

main #subcontents-box #table-of-contents span {
  font-weight: bold;
}
/*# sourceMappingURL=detail.css.map */