@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mgr-10 {
  margin-left: 10px;
}

h1 {
  color: #778899;
  border-top: 2px solid #4682b4;
  border-bottom: 2px solid #4682b4;
}

h2,
h3,
h4,
h5,
h6 {
  color: #b0c4de;
  border-top: 2px solid #8fbc8f;
  border-bottom: 2px solid #8fbc8f;
}

main {
  background-color: #bbccdd;
}

main div div #left-box {
  border-right: solid 3px #dcdcdc;
}

main div div #article-content {
  background-color: white;
}

main div div #article-content .title-box {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  background-color: #e5f5fb;
}

main div div #article-content .title-box p {
  font-size: 300%;
  font-family: "Times New Roman", "MS Pゴシック";
  text-align: center;
  margin: auto;
  border-bottom: solid 2px #8cb4c4;
  border-top: solid 2px #8cb4c4;
}

main div div #article-content .author-info-box p {
  text-align: center;
  font-family: "Century Gothic";
  font-size: 200%;
}

main div div #article-content .author-info-box .author-icon-box {
  display: inline-block;
  width: 40%;
}

main div div #article-content .author-info-box .author-icon-box a img {
  width: 50%;
  height: auto;
  margin-left: 50%;
}

main div div #article-content .author-info-box .author-name-box {
  display: inline-block;
  width: 40%;
}

main div div #article-content .author-info-box .author-name-box a {
  color: #2e8b57;
}

main div div #article-content .author-info-box .author-name-box a p {
  text-align: center;
  font-family: "arial", "MS Pゴシック";
}

main div div #article-content .tags-and-good-box {
  border: solid 2px #696969;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0 0 10px #696969;
          box-shadow: 0 0 10px #696969;
}

main div div #article-content .tags-and-good-box .tag-box {
  display: inline-block;
  width: 40%;
}

main div div #article-content .tags-and-good-box .tag-box .each-tag-box .icon-and-tag-name {
  width: 80%;
  margin: auto;
}

main div div #article-content .tags-and-good-box .tag-box .each-tag-box .icon-and-tag-name i {
  display: inline-block;
}

main div div #article-content .tags-and-good-box .tag-box .each-tag-box .icon-and-tag-name p {
  display: inline-block;
}

main div div #article-content .tags-and-good-box .good-box {
  display: inline-block;
  width: 50%;
  margin: auto;
}

main div div #article-content .tags-and-good-box .good-box .good-number-box {
  display: inline-block;
  width: 40%;
}

main div div #article-content .tags-and-good-box .good-box .good-number-box p {
  text-align: right;
}

main div div #article-content .tags-and-good-box .good-box .good-post-box {
  display: inline-block;
  width: 40%;
}

main div div #article-content .horizontal-line {
  background-color: #1e90ff;
  size: 3px;
  -webkit-box-shadow: 0px 10px 10px -5px #7fffd4;
          box-shadow: 0px 10px 10px -5px #7fffd4;
}

main div div #article-content .comment-form form #input-comment {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: solid 2px #008b8b;
  -webkit-box-shadow: 0 0 10px #a9a9a9;
          box-shadow: 0 0 10px #a9a9a9;
}

main div div #article-content .comment-form form #input-comment:focus {
  outline: none;
  -webkit-box-shadow: 0 0 20px #87ceeb;
          box-shadow: 0 0 20px #87ceeb;
}

main div div #article-content .comment-form form button {
  margin-top: 2%;
  margin-left: 80%;
}

main div div #article-content .comment-display-box .each-user-comment-box {
  background-color: #ffe4e1;
  border: solid 2px #cd5c5c;
  -webkit-box-shadow: 0 0 10px #808080;
          box-shadow: 0 0 10px #808080;
  margin-bottom: 2%;
}

main div div #article-content .comment-display-box .each-user-comment-box .commentor-icon {
  display: inline-block;
  width: 20%;
  margin: 5% 0 0 5%;
}

main div div #article-content .comment-display-box .each-user-comment-box .commentor-icon img {
  width: 5vh;
  height: auto;
}

main div div #article-content .comment-display-box .each-user-comment-box .commentor-name {
  display: inline-block;
  width: 70%;
}

main div div #article-content .comment-display-box .each-user-comment-box .commentor-name p {
  text-align: center;
  font-size: 150%;
  font-family: "arial", "MS Pゴシック";
}

main div div #article-content .comment-display-box .each-user-comment-box .comment-posted-date {
  padding-right: 5%;
}

main div div #article-content .comment-display-box .each-user-comment-box .comment-posted-date p {
  text-align: right;
  font-family: "Times New Roman", "MS Pゴシック";
}

main div div #article-content .comment-display-box .each-user-comment-box hr {
  background-color: #808080;
  width: 90%;
}

main div div #article-content .comment-display-box .each-user-comment-box .comment-content {
  width: 90%;
  margin: auto;
}

main div div #article-content .comment-display-box .each-user-comment-box .comment-content p {
  text-align: center;
  font-family: "Times New Roman", "MS Pゴシック";
}

main div div #right-box {
  border-left: solid 3px #dcdcdc;
}
/*# sourceMappingURL=detail.css.map */