*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    background-color: #f0fff0;

    div {
        div {
            #article-content {

                //About title 
                .title-box {
                    background: radial-gradient(#afeeee, #00bfff);
                    display: inline-block;
                    width: 100%;
                    margin: auto;

                    p {
                        font-size: 300%;
                        font-family: "Times New Roman", "MS Pゴシック";
                        text-align: center;
                        margin: auto;
                    }
                }

                .author-info-box {
                    .author-icon-box {
                        display: inline-block;
                        width: 40%;

                        a {
                            img {
                                width: 10vh;
                                height: auto;
                                border-radius: 50%;
                            }
                        }
                    }

                    .author-name-box {
                        display: inline-block;
                        width: 40%;

                        a {
                            p {
                                text-align: center;
                            }
                        }
                    }
                }

                .tags-and-good-box {
                    background-color: #d3d3d3;

                    .tag-box {
                        display: inline-block;
                        width: 40%;

                        i {
                            display: inline-block;
                        }

                        p {
                            display: inline-block;
                        }
                    }

                    .good-box {
                        display: inline-block;
                        width: 40%;

                        .good-number-box {
                            display: inline-block;
                            width: 40%;
                        }

                        .good-post-box {
                            display: inline-block;
                            width: 40%;
                        }
                    }
                }

                .article-content-box {
                    border: solid 2px #afeeee;
                }

                .comment-form {}

                .comment-display-box {
                    background-color: #d2b48c;

                    .each-user-comment-box {
                        .commentor-icon {
                            display: inline-block;
                            width: 20%;

                            img {
                                width: 10vh;
                                height: auto;
                            }
                        }

                        .commentor-name {
                            display: inline-block;
                            width: 70%;
                        }

                        .comment-content {
                            background-color: #ffffe0;
                            width: 90%;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}