{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'login/login.css' %}"
{% endblock %}
{% block contents %}
    <div class="login_contents">
        <p class="login-title"><i class="fas fa-sign-in-alt"></i><span class="mgr-10"/>Login</p>
        {% include '_form.html' with submit_label='ログイン' %}
        <div class='forget_password_link'>
            <p><a href = "{% url 'password_reset' %}"><i class="fas fa-question-circle"></i>パスワードを忘れた場合</a></p>
        </div>
    </div>

    
{% endblock contents%}
