{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>login</title>
<link rel="stylesheet" href="{% static 'login/login.css' %}">
<link rel="stylesheet" href="{% static 'common/base/base.css' %}">
{% endblock %}
{% block contents %}
    <div id="login" class="font-arial-MSGothic">
        <h5>ログイン画面</h5>
        <form method="POST">
            {% csrf_token %}
            <p class="input-content">メールアドレス</p>
            <div class="login-form input-group">
                <span class="input-group-text"><i class="fas fa-at"></i></span>
                {{form.username}}
            </div>
            <p class="input-content">パスワード</p>
            <div class="login-form input-group">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                {{form.password}}
            </div>
            <button class="button-design" type="submit">送信</button>
        </form>
        <div id="foget-password">
            <a class="link-hover-big" href="{% url 'password_reset' %}">
                <i class="fas fa-question-circle"></i><span class="mgr-10"></span>パスワードを忘れた場合
            </a>
        </div>
    </div>
{% endblock contents%}

