{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>login</title>
<link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}
{% block contents %}
    <div class="login_contents">
        <p class="login-title"><i class="fas fa-sign-in-alt"></i><span class="mgr-10"></span>Login</p>
        <form id="login-form" method='POST'>
            {% csrf_token %}
            <div class="login-username-box">
                <span class="mgr-10"></span><p class="login-username-text"><i class="fas fa-envelope"></i><span class="mgr-10"></span>E-mail</p>
                {{form.username}}
            </div>
            <div class="login-password-box">
                <span class="mgr-10"></span><p class="login-password-text"><i class="fas fa-unlock-alt"></i><span class="mgr-10"></span>Password</p>
                {{form.password}}
            </div>
            <input class="btn btn-primary" type="submit" value="ログイン" id="login_button"/>
        </form>
        <div class='forget_password_link'>
            <p><a href = "{% url 'password_reset' %}"><i class="fas fa-question-circle"></i>パスワードを忘れた場合</a></p>
        </div>
    </div>
{% endblock contents%}

