{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<title>パスワード変更</title>
<link rel="stylesheet" href="{% static 'registration/password_change_form/password_change_form.css' %}">
{% endblock stylesheet %}

{% block contents %}
<div id="password-change" class="font-arial-MSGothic">
    <h2>パスワード変更</h2>
    <form method="POST">
        {% csrf_token %}
        <h5>古いパスワード</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
            {{form.old_password}}
        </div>
        {% if form.old_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.old_password.errors}}
            </div>
        {% endif %}

        <h5>新しいパスワード</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
            {{form.new_password1}}
        </div>
        {% if form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.new_password1.errors}}
            </div>
        {% endif %}

        <h5>新しいパスワードの確認</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
            {{form.new_password2}}
        </div>
        {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.new_password2.errors}}
            </div>
        {% endif %}

        <button class="button-design" type="submit">パスワード変更</button>
    </form>
</div>
{% endblock contents %}