{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>パスワード再設の入力</title>
<link rel="stylesheet" href="{% static 'common/base/base.css' %}">
<link rel="stylesheet" href="{% static 'registration/password_reset_confirm/password_reset_confirm.css' %}">
{% endblock stylesheet %}

{% block contents %}
<div id="password-reset" class="font-arial-MSGothic">
    <h2>パスワード再設定</h2>
    {% if validlink %}
    <form method="POST">
        {% csrf_token %}
        {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.new_password2.errors}}
            </div>
        {% endif %}
        <p>パスワード</p>
        <div class="input-group">
            <span class="input-group-text" id="input-group-left-example">1</span>
            {{form.new_password1}}
        </div>
        <p>パスワード確認</p>
        <div class="input-group">
            <span class="input-group-text" id="input-group-left-example">2</span>
            {{form.new_password2}}
        </div>
        <button class="button-design" type="submit">パスワードを変更</button>
    </form>
    {% else %}
        <p>無効なリンクです</p>
    {% endif %}
</div>
{% endblock contents %}