{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>再設定完了</title>
<link rel="stylesheet" href="{% static 'common/base/base.css' %}">
<link rel="stylesheet" href="{% static 'registration/password_reset_complete/password_reset_complete.css' %}">
{% endblock stylesheet %}

{% block contents %}
<div id="password-reset-complete" class="font-arial-MSGothic">
    <h2>パスワード再設定完了</h2>
    <p>パスワードの再設定が完了しました</p>
    <a class="link-hover-big" href="{% url 'login' %}">ログイン</a>
</div> 
{% endblock contents %}
