{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>ユーザー登録</title>
<link rel="stylesheet" href="{% static 'registration/registration.css' %}">
{% endblock stylesheet %}
{% block contents %}

<div id="registration">
    <form method="POST">
        <h2 class="font-arial-MSGothic">ユーザー登録</h2>
        {% csrf_token %}
        <h5 class="font-arial-MSGothic">ユーザー名</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            {{form.username}}
        </div>
        {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.username.errors}}
                </div>
        {% endif %}
        <h5 class="font-arial-MSGothic">メールアドレス</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-at"></i></span>
            {{form.email}}
        </div>
        {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.email.errors}}
                </div>
        {% endif %}
        <h5 class="font-arial-MSGothic">パスワード</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
            {{form.password1}}
        </div>
        {% if form.password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.password1.errors}}
            </div>
        {% endif %}
        <h5 class="font-arial-MSGothic">パスワード確認</h5>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
            {{form.password2}}
        </div>
        {% if form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.password2.errors}}
                </div>
        {% endif %}

        <div id="term" class="d-flex justify-content-center form-check">
            <input id="term-checkbox" class="align-self-center form-check-input" type="checkbox">
            <label class="form-check-label" for="term-checkbox">
                「<a class="link-hover-big" href="{% url 'index:terms' %}">利用規約</a>」に同意します
            </label>
        </div>
        <button id="register-button" class="btn btn-primary" type="submit" disabled>ユーザー登録</button>
    </form>
</div>
{% endblock contents %}

{% block script %}
    <script type="text/javascript" src="{% static 'registration/registration.js'%}"></script>
{% endblock %}