{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>質問作成</title>
<link rel="stylesheet" href="{% static 'question/create/create.css' %}">
{% endblock stylesheet %}
{% block contents %}
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5 col-xl-5" id="left-box">
                <div id="title-box">
                    <p class="title-input"><span class="mgr-10"></span>TITLE</p>
                    {{form.title}}
                </div>
                <div id="tag-box">
                    <p>Tag</p>
                    <i class="fas fa-plus-circle fa-2x" id="tag-add-button"></i>
                    <input type="text" multiple name="tags" class="tag-input" placeholder="&#xf02b;">
                </div>
            </div>
            <div class="col-12 col-md-7 col-xl-7" id="main-box">
                <div class="question-create-box">
                        {% autoescape off %}
                        {{form.media}}
                        <p id="content-p"><span class="mgr-10"></span>CONTENT</p>
                        {{form.content}}
                        {% endautoescape %}
                </div>
                <input type="submit" label='記事を作成' id="submit-button">
            </div>
        </div>
    </div>
</form>

{% block script %}
<script type="text/javascript" src="{% static 'question/create/create.js' %}"></script>
{% endblock script %}
{% endblock contents %}