{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>質問一覧</title>
<link rel="stylesheet" href="{% static 'question/list/list.css' %}">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-xl-3" id="left-box"></div>

        <!--quetion list will display in here-->
        <div class="col-12 col-md-6 col-xl-6" id="main-box">
            <div class="question-description">
                <p>-Questions-</p>
            </div>
            {% for question in object_list %}
            <div class="each-questions d-inline-flex justify-content-between">
                <div class="contributor-icon">
                    <img src="{{ MEDIA_URL }}{{question.contributor.user.icon}}" class="img-responsive"/>
                </div>
                <div class="contributor-name align-self-center">
                    <p>{{question.contributor}}</p>
                </div>
                <div class="quetion-title align-self-center">
                    <a href="{% url 'question:detail' question.pk %}">
                        <p>{{question.title}}</p>
                    </a>
                </div>
                <div class="question-created-at align-self-center">
                    <p>{{question.created_at|date:"y/m/d"}}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class"col-12 col-md-3 col-xl-3" id="right-box"></div>
    </div>
</div>
<!--
    {% for question_object in object_list %}
    <a href="{% url 'question:detail' question_object.pk %}">
    <img src="{{ MEDIA_URL }}{{question_object.contributor.user.icon}}"/>
    {{question_object.contributor}}
    {{question_object.title}}
    {{question_object.created_at}}
    </a>
    {% endfor %}
    -->
{% endblock contents %}