{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>質問一覧</title>
<link rel="stylesheet" href="{% static 'question/list/list.css' %}">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div id="search-box" class="col-xl-5 col-md-5 col-12">
            <p><input type="text"></p>
            <p><input type="text"></p>
        </div>
        <div id="question-list-box" class="col-xl-7 col-md-7 col-12">
            {% for question in object_list %}
            <div class="question-div">
                <div class="question-card">
                    <p class="icon-p"><img class="author-icon" src="{{ MEDIA_URL }}{{question.contributor.user.icon|default:'images/user-icon-default.png'}}"></p>
                    <p class="author-name"><i class="fas fa-user"></i><span class="mgr-10"></span>{{question.contributor}}</p>
                    <hr class="horizontal-line">
                    <p class="title"><a href="{% url 'question:detail' question.pk %}">{{question.title}}</a></p>
                    <p class="created-at">{{question.created_at|date:"y/m/d"}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contents %}