//common styles
.mgr-10 {
    margin-left: 10px;
}

.empty-box-10 {
    height: 10px;
}

.date-p {
    text-align: right;
}

input {
    -webkit-appearance: none;
  }

main {
    #user-icon-username-follow-follower {
        padding: 3% 0 3% 0;
        background-color: #f08080;
        box-shadow: 0 0 20px #808080;

        div {
            #icon-and-username {
                margin-bottom: 5%;

                .user-icon {
                    border: solid 5px #a52a2a;
                    border-radius: 5px;
                    margin-left: 10%;
                    width: 80%;
                    height: auto;
                    box-shadow: 0 0 40px #ffc0cb;

                }
            }

            #follow-and-follower {

                .username {
                    width: 40%;
                    text-align: center;
                    border-bottom: solid 2px #a52a2a;
                    margin-left: 30%;
                    margin-top: 5%;
                    font-family: 'arial', 'HiraKakuPro-W6';
                    font-size: 200%;

                    i::before {
                        color: #2e8b57;
                    }
                }

                .follow-count {
                    display: inline-block;
                    width: 49%;
                    border-left: solid 3px #5f9ea0;
                    border-right: solid 3px #5f9ea0;
                    border-bottom: solid 3px #5f9ea0;

                    p {
                        color: #ffdead;
                        text-align: center;
                    }

                    .follow-and-follower-p {
                        font-family: 'HiraKakuPro-W6';
                    }
                }

                .follower-count {
                    display: inline-block;
                    width: 49%;
                    border-right: solid 3px #5f9ea0;
                    border-bottom: solid 3px #5f9ea0;

                    p {
                        color: #ffdead;
                        text-align: center;
                    }
                }
            }
        }
    }

    .introduction-title {
        margin-left: 5%;
        font-family: 'Book Antiqua';
        font-size: 150%;
        color: #ffe4e1;

        i::before {
            color: #e0ffff;
        }
    }

    .introduction-box {
        width: 90%;
        padding: 2% 0 2% 0;
        margin: auto;
        border-bottom: solid 2px #2e8b57;
        border-right: solid 2px #2e8b57;
        border-left: solid 2px #2e8b57;
        border-top: solid 2px #2e8b57;
        box-shadow: 0 0 10px #d2691e;

        .introduction-p {
            text-align: center;
            font-family: 'ＭＳ Ｐゴシック'
        }
    }

    #follow-unfollow-form {
        margin-top: 5%;
        margin-right: 5%;
        text-align: right;

        p {
            color: #ffdead;
        }
    }

    .profile-update-box {
        a {
            color: #006400;

            i {
                margin-top: 5%;
                margin-left: 80%;
            }
        }
    }

    #user-article-question-box {
        margin-top: 2%;
        background-color: #e6e6fa;
        border: 3px solid #c71585;
        box-shadow: 0 0 20px #808080;

        p {
            text-align: center;
            font-family: 'Century Gothic';
        }

        #article-box {
            .title-p {
                font-size: 150%;
                margin-top: 5%;
                color: #4682b4;

                i::before {
                    color: #4682b4;
                }
            }

            hr {
                color: #00bfff;
            }
        }

        #question-box {
            border-left: 3px solid #00ced1;

            .questions {
                .title-p {
                    font-size: 150%;
                    margin-top: 5%;
                    color: #4682b4;

                    i::before {
                        color: #4682b4;
                    }
                }

                a {
                    p {
                        font-size: 200%;
                        text-align: center;
                    }
                }
            }
        }
    }
}