.mgr-10 {
  margin-left: 10px;
}

.empty-box-10 {
  height: 10px;
}

.date-p {
  text-align: right;
}

input {
  -webkit-appearance: none;
}

.blank-cell {
  width: 40px;
}

.blank-box {
  width: 40px;
}

.line {
  height: 3px;
  background-color: gray;
}

main #user-profile {
  padding: 0px 20px;
  font-family: "arial", "MS Gothic";
}

main #user-profile #page-title {
  border-left: 10px solid #5757ff;
  font-size: 2.0rem;
}

main #user-profile #user-info-box #edit-box {
  padding-top: 20px;
  background-color: #73a6b0;
}

main #user-profile #user-info-box #edit-box p {
  margin-left: 10px;
  border-left: 10px solid white;
}

main #user-profile #user-info-box #edit-box p a {
  color: #7488b0;
}

main #user-profile #user-info-box #edit-box form #unfollow {
  border: none;
  background-color: #7d1247;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

main #user-profile #user-info-box #edit-box form #follow {
  border: none;
  background-color: #12277d;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

main #user-profile #user-info-box #user-profile {
  padding-top: 20px;
  padding-left: 40px;
}

main #user-profile #user-info-box #user-profile #profile img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

main #user-profile #user-info-box #user-profile #profile #user-info {
  margin-top: 20px;
  table-layout: auto;
}

main #user-profile #user-info-box #user-profile #profile #user-info .info .blank-cell {
  width: 20px;
}

main #user-profile #user-info-box #user-profile #introduction-box {
  margin-top: 20px;
  padding: 10px 10px;
}

main #user-profile #user-info-box #user-profile #introduction-box #introduction-title {
  padding-left: 20px;
}

main #user-profile #user-info-box #user-profile #introduction-box #introduction {
  padding: 20px 20px;
  background-color: #7488b0;
  color: white;
  border-radius: 8px;
}

main #user-works {
  font-family: "arial", "MS Gothic";
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

main #user-works input[type="radio"] {
  display: none;
}

main #user-works #tab-box label {
  color: white;
  background-color: #366ba1;
  font-size: 1.3rem;
  padding: 12px 0px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
}

main #user-works #tab-box label:hover {
  opacity: 0.5;
}

main #user-works #article-tab-button:checked ~ #tab-box #article-tab {
  border-top: solid 2px #366ba1;
  border-right: solid 2px #366ba1;
  border-left: solid 2px #366ba1;
  background-color: #ccddff;
  color: #366ba1;
}

main #user-works #article-tab-button:checked ~ .panel-area #article-works {
  display: block;
  background-color: #ccddff;
}

main #user-works #draft-tab-button:checked ~ #tab-box #draft-tab {
  border-top: solid 2px #366ba1;
  border-right: solid 2px #366ba1;
  border-left: solid 2px #366ba1;
  background-color: #ccddff;
  color: #366ba1;
}

main #user-works #draft-tab-button:checked ~ .panel-area #draft-works {
  display: block;
  background-color: #ccddff;
}

main #user-works #question-tab-button:checked ~ #tab-box #question-tab {
  border-top: solid 2px #366ba1;
  border-right: solid 2px #366ba1;
  border-left: solid 2px #366ba1;
  background-color: #ccddff;
  color: #366ba1;
}

main #user-works #question-tab-button:checked ~ .panel-area #question-works {
  display: block;
  background-color: #ccddff;
}

main #user-works #data-tab-button:checked ~ #tab-box #data-tab {
  border-top: solid 2px #366ba1;
  border-right: solid 2px #366ba1;
  border-left: solid 2px #366ba1;
  background-color: #ccddff;
  color: #366ba1;
}

main #user-works #data-tab-button:checked ~ .panel-area #data-works {
  display: block;
  background-color: #ccddff;
}

main #user-works #user-tab-box .link-to {
  padding: 5px 5px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

main #user-works #user-tab-box .tab-panel {
  display: none;
  padding-top: 10px;
  border-bottom: solid 2px #366ba1;
  border-right: solid 2px #366ba1;
  border-left: solid 2px #366ba1;
}

main #user-works #user-tab-box .tab-panel .work-cell .title h2 {
  font-size: 1.3rem;
}

main #user-works #user-tab-box .tab-panel .work-cell .blank-cell {
  width: 10px;
}
/*# sourceMappingURL=profile_detail.css.map */