main {
    #user-icon-username-follow-follower {
        padding: 3% 0 3% 0;
        background-color: #f08080;

        div {
            #icon-and-username {

                .user-icon {
                    width: 70%;
                    height: 70%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: 0px 0px;
                }

                .username {
                    text-align: center;
                    font-family: 'Century Gothic';
                }

                .username {}
            }

            #follow-and-follower {

                .follow-count {
                    position: relative;
                    top: 30%;
                    display: inline-block;
                    width: 49%;
                    border-left: solid 3px #5f9ea0;
                    border-right: solid 3px #5f9ea0;

                    p {
                        text-align: center;
                    }
                }

                .follower-count {
                    position: relative;
                    top: 30%;
                    display: inline-block;
                    width: 49%;
                    border-right: solid 3px #5f9ea0;

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    .introduction-box {
        width: 90%;
        padding: 2% 0 2% 0;
        margin: auto;
        background-color: #f5deb3;

        .introduction-p {
            text-align: center;
            font-family: 'ＭＳ Ｐゴシック'
        }
    }

    .profile-update-box {
        left: 5%;

        a {
            button {}
        }
    }

    #user-article-question-box {
        margin-top: 2%;
        background-color: #e6e6fa;
        border: 3px solid #c71585;

        p {
            text-align: center;
            font-family: 'Century Gothic';
        }

        #article-box {
            hr {
                color: #00bfff;
            }
        }

        #question-box {
            border-left: 3px solid #00ced1;

            .questions {
                a {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}