@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

//動的な操作
.mgr-10 {
    margin-left: 10px;
}

input {
    -webkit-appearance: none;
}

main {
    .password-reset-box {
        background-color: #f0ffff;
        border: dotted 2px #008080;
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
        margin-bottom: 20%;


        h2 {
            margin-top: 5%;
            font-family: 'arial', 'Meiryo';
            color: #87ceeb;

        }

        form {
            margin-top: 2%;

            #id_email {
                border: solid 2px #66cdaa;
                outline: none;
                width: 70%;
            }

            #login_button {
                width: 70%;
                margin-left: 15%;
                margin-bottom: 5%;
            }
        }
    }
}