@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
//smartphone
@media screen and (max-width:767px){
    #password-reset {
        background-color: #f9f9f9;
        padding: 80px 15px;
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            
        }
        form {
            p {
                font-size: 0.9rem;
                margin-bottom: 0px;
                font-weight: bold;
            }
            button {
                margin: 20px 0 0 0;
                width: 100%;
            }
        }
    }
}

//desktop 
@media screen and (min-width:768px){
    #password-reset {
        background-color: #f9f9f9;
        padding: 200px 30%;
        h2 {
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
            
        }
        form {
            p {
                margin-bottom: 0px;
                font-weight: bold;
            }
            button {
                margin: 20px 0 0 0;
                width: 100%;
            }
        }
    }
}