*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    form {
        p {
            margin: auto;
            width: 70%;

            label {}

            input {
                width: 70%;
                margin-right: auto;
                margin-top: 5%;
                border: solid 2px #008080;
                border-radius: 5px;
            }

            input:focus {
                box-shadow: 0 0 10px #7fffd4;
            }
        }

        .django-ckeditor-widget {
            width: 100%;
        }
    }
}