*,
*::before,
*::after {
    box-sizing: border-box;
}

//common styles
.mgr-10 {
    margin-left: 10px;
}

.emphasize-text {
    font-size: 2.5rem;
}

.text-family {
    font-family: 'arial', 'MS Gothic';
}

main {
    #page-title-box {
        display: table;
        position: relative;
        background-image: url(/static/images/article/create/create_article.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;

        #page-discription {
            padding: 100px 0px;
            list-style: none;
            color: white;

            li {
                font-family: 'MS Gothic';
                size: 1.5rem;
                text-align: center;
            }
        }
    }

    #page-title-box::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    form {
        margin: 20px 0px 0px 0px;

        .form-text {
            font-size: 1.5rem;
            margin: 0px;
            color: white;
            padding: 10px 0px;
            text-align: center;
        }

        #title {
            background-color: #36a136;

            input {
                margin: 0px 0px 10px 20%;
                width: 60%;
                border: none;
                outline: none;
                height: 30px;
                border-radius: 3px;
            }
        }

        #tags {
            background-color: #36a136;
        }

        #publish {
            margin: 20px 0 0 0;
            background-color: #36a136;

            input {
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid #6cc0e5;
                background-color: none;
            }
        }
    }
}