a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.advertise-footer {
  padding: 10px 10px;
}

@media screen and (max-width: 767px) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  body {
    background: linear-gradient(45deg, #2E38F6, #0E294E, #415C55, #528A4C);
    font-family: "arial", "MS Gothic";
  }
  body main #contents {
    position: relative;
    background-image: url(/static/images/article/list/article_bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  body main #contents #contents-row #search-box {
    background-color: #556b2f;
    border-radius: 5px;
  }
  body main #contents #contents-row #search-box #search-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 20px 0px;
  }
  body main #contents #contents-row #search-box .search-btn {
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #0E294E;
  }
  body main #contents #contents-row #search-box .search-p {
    text-align: center;
  }
  body main #contents #contents-row #search-box .search-input {
    outline: none;
    border-radius: 2px;
    border: none;
  }
  body main #contents #contents-row #article-list-box {
    font-size: 0.6rem;
  }
  body main #contents #contents-row #article-list-box .article-link {
    text-decoration: none;
  }
  body main #contents #contents-row #article-list-box .articles {
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius: 5px;
    background: rgba(40, 40, 40, 0.98);
  }
  body main #contents #contents-row #article-list-box .articles .author-icon {
    height: 20px;
    width: auto;
    border-radius: 50%;
    margin: 0px 10px;
  }
  body main #contents #contents-row #article-list-box .articles .article-info {
    color: white;
    padding: 0px 5px;
  }
  body main #contents #contents-row #article-list-box .articles .article-info .info {
    margin: 5px 5px;
  }
  body main #contents #contents-row #article-list-box .articles .article-title {
    font-size: 1rem;
    color: white;
    margin: 0px;
    padding: 5px 5px;
  }
}

@media screen and (min-width: 768px) {
  body main {
    background: linear-gradient(45deg, #2E38F6, #0E294E, #415C55, #528A4C);
    font-family: "arial", "MS Gothic";
  }
  body main #contents {
    position: relative;
    background-image: url(/static/images/article/list/article_bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  body main #contents #contents-row #search-box #search {
    background-color: #556b2f;
    margin: 20px 0 0 0;
    padding: 20px 20px;
    border-radius: 5px;
  }
  body main #contents #contents-row #search-box #search h2 {
    color: white;
  }
  body main #contents #contents-row #search-box #search #search-title {
    color: white;
    text-align: center;
    padding: 20px 0px;
  }
  body main #contents #contents-row #search-box #search .search-p {
    text-align: center;
  }
  body main #contents #contents-row #search-box #search .search-input {
    outline: none;
    border-radius: 2px;
    border: none;
  }
  body main #contents #contents-row #article-list-box {
    font-size: 0.6rem;
  }
  body main #contents #contents-row #article-list-box .article-link {
    text-decoration: none;
  }
  body main #contents #contents-row #article-list-box .articles {
    margin: 20px 20px;
    border-radius: 5px;
    background: rgba(40, 40, 40, 0.98);
  }
  body main #contents #contents-row #article-list-box .articles .author-icon {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin: 0px 10px;
  }
  body main #contents #contents-row #article-list-box .articles .article-info {
    color: white;
    padding: 0px 20px;
  }
  body main #contents #contents-row #article-list-box .articles .article-info .info {
    margin: 5px 5px;
  }
  body main #contents #contents-row #article-list-box .articles .article-title {
    font-size: 1.5rem;
    color: white;
    margin: 0px 0px;
  }
}
/*# sourceMappingURL=list.css.map */