*,
*::before,
*::after {
    box-sizing: border-box;
}


//base style 
.contents-titles {
    font-size: 200%;
    color: #364e96;
    padding: 0.5em 0;
    border-bottom: solid 3px #364e96;
}


main {
    div {
        div {
            #left-box {}

            #datalibrary-content {
                .uploader-info-box {
                    p {
                        font-size: 200%;
                        font-family: "arial", "MS Pゴシック";
                    }

                    .uploader-icon-box {
                        display: inline-block;
                        width: 30%;
                        height: auto;

                        a {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .uploader-name-box {
                        display: inline-block;
                        width: 40%;

                        a {
                            p {
                                text-align: center;
                                font-family: "arial", "MS Pゴシック";
                            }
                        }
                    }
                }

                .file-box {
                    div {
                        .file-name-box {

                            i {}

                            p {}
                        }

                        .file-download-box {
                            position: relative;
                            left: 10%;
                        }
                    }
                }

                .good-box {
                    .good-post-box {
                        position: relative;
                        left: 50%;
                    }
                }

                .comment-form {
                    form {
                        #input-comment {
                            width: 100%;
                            border: solid 2px #afeeee;
                        }

                        #input-comment:focus {
                            box-shadow: 0 0 10px #fafad2;
                            border: solid 2px #afeeee;
                        }
                    }
                }

                .comment-display-box {
                    .each-user-comment-box {
                        .commentor-icon {
                            display: inline-block;
                            width: 40%;

                            a {
                                img {
                                    width: 20%;
                                    height: auto;
                                }
                            }
                        }

                        .commentor-name {
                            display: inline-block;
                            width: 40%;
                        }

                        .comment-posted-date {
                            p {
                                text-align: right;
                            }
                        }

                        .comment-content {
                            background-color: #ffefd5;
                            border: solid 2px #e9967a;
                            box-shadow: 0 0 10px #a9a9a9;

                            p {
                                text-align: center;
                            }
                        }
                    }
                }

            }

            #right-box {}
        }
    }
}