*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: gray;

    header {
        position: fixed;
        height: 100px;
        width: 100%;
        z-index: 100;
        background-color: black;

        .menu-button closed {
            visibility: hidden;
        }

        .menu-button {
            position: relative;
            top: 10px;
            left: 10px;
            width: 80px;
            height: 80px;
            background-color: transparent;
            border-radius: 10px;
            border: solid 2px gray;

            &.clicked {
                background-color: blue;
                transition: .3s;
                z-index: 100;
            }



            .top-line {
                position: absolute;
                top: 25%;
                left: 50%;
                display: block;
                width: 70%;
                height: 5px;
                border: solid 2px white;
                background-color: white;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }

            .middle-line {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 70%;
                height: 5px;
                border: solid 2px white;
                background-color: white;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }

            .bottom-line {
                position: absolute;
                top: 75%;
                left: 50%;
                display: block;
                width: 70%;
                height: 5px;
                border: solid 2px white;
                background-color: white;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }
        }

        .header-nav {
            position: relative;
            width: 15%;
            top: 10px;
            background-color: black;
            transform: translateX(-100%);
            transition: .3s;
            z-index: 100;


            &.slide-in {
                transform: translateX(0px);
                transition: .3s;
            }


            .header-menu {
                z-index: 100;

                li {
                    z-index: 100;

                    a {
                        z-index: 100;
                    }
                }
            }




            li {
                padding: 10px;
                border-bottom: solid 1px white;
                list-style: none;
            }

        }
    }

    main {
        .nothing {
            height: 100px;
            width: 100%;
        }
    }


}