*,
*::before,
*::after {
    box-sizing: border-box;
}

//動的な操作
.mgr-10 {
    margin-left: 10px;
}

//動的な操作終了
html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: gray;

    header {
        position: fixed;
        height: 15vh;
        width: 100%;
        z-index: 100;
        background-color: black;

        .menu-button closed {
            visibility: hidden;
        }

        .header-box {
            height: 100%;

            .menu-button {
                position: relative;
                margin-top: 3vh;
                margin-left: 3vh;
                height: 9vh;
                width: 9vh;
                background-color: transparent;
                border: solid 3px #b0c4de;

                .top-line {
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    display: block;
                    width: 70%;
                    height: 5%;
                    border: solid 1px #b0c4de;
                    background-color: #b0c4de;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transition: .3s;

                    &.clicked-top {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        width: 80%;
                        height: 5%;
                        border: solid 1px #b0c4de;
                        background-color: #b0c4de;
                        transform: translateX(-50%) rotate(45deg);
                        -webkit-transform: translateX(-50%) rotate(45deg);
                        transition: .3s;
                    }
                }

                .middle-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 70%;
                    height: 5%;
                    border: solid 1px #b0c4de;
                    background-color: #b0c4de;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);

                    &.clicked-middle {
                        visibility: hidden;
                    }
                }

                .bottom-line {
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    display: block;
                    width: 70%;
                    height: 5%;
                    border: solid 1px #b0c4de;
                    background-color: #b0c4de;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transition: .3s;

                    &.clicked-bottom {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        width: 80%;
                        height: 5%;
                        border: solid 1px #b0c4de;
                        background-color: #b0c4de;
                        transform: translateX(-50%);
                        transform: translateX(-50%) rotate(-45deg);
                        -webkit-transform: translateX(-50%) rotate(-45deg);
                        transition: .3s;
                    }
                }
            }

            .app-icon {

                img {
                    height: 100%;
                }
            }

            .register-box {
                a {
                    color: #b0c4de;

                    p {
                        font-size: 2vh;
                        font-family: 'Century';
                        margin-top: 55%;
                    }
                }
            }

            .user-icon-box {
                a {
                    img {
                        background-color: white;
                        height: 12vh;
                        width: auto;
                        margin-right: 0;
                        border: solid 4px #b0c4de;
                        border-radius: 5px;
                    }
                }
            }
        }
    }


    .header-nav {
        visibility: hidden;
        position: relative;
        width: 100%;
        top: 0px;
        background-color: black;
        transform: translateX(-100%);
        transition: .3s;
        z-index: 100;


        &.slide-in {
            visibility: visible;
            transform: translateX(0px);
            transition: .3s;
        }


        .header-menu {
            z-index: 100;

            li {
                z-index: 100;

                a {
                    color: #b0c4de;
                    z-index: 100;

                    i {}
                }

                .second-menu {}

                #article-second-menu {
                    display: none;
                    opacity: 0;
                }

                #data-library-second-menu {
                    display: none;
                }

                #question-second-menu {
                    display: none;
                }

                #profile-second-menu {
                    display: none;
                }
            }
        }

        .header-menu {
            #article-first-menu:hover {

                #article-second-menu {
                    display: block;
                    opacity: 1;
                    transition: .3s;
                }
            }

            #data-library-first-menu:hover {

                #data-library-second-menu {
                    display: block;
                    transition: .3s;
                }
            }

            #question-first-menu:hover {

                #question-second-menu {
                    display: block;
                    transition: .3s;
                }
            }

            #profile-first-menu:hover {

                #profile-second-menu {
                    display: block;
                    transition: .3s;
                }
            }
        }




        li {
            padding: 10px;
            border-bottom: solid 1px white;
            list-style: none;
        }

    }
}

main {
    .nothing {
        height: 15vh;
        width: 100%;
    }
}


footer {
    background-color: #000000;

    .app-icon-box {
        display: inline-block;
        margin-left: 2%;
        margin-top: 2%;
        width: 20%;
        height: auto;

        img {
            margin-top: 2%;
            margin-left: 2%;
            width: 100%;
            height: auto;
        }
    }

    .footer-contents {
        display: inline-block;
        margin-left: 5%;

        .inquiry-p {
            font-family: 'Book Antiqua', 'MS PMincho';
            color: #b0c4de;

            a {
                color: #8fbc8f;
            }
        }

        .app-title {
            font-size: 5vh;
            font-family: 'Book Antiqua';
            color: #b0c4de;
            border-bottom: dotted 2px #b0c4de;
        }
    }
}