*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: gray;
}

body header {
  position: fixed;
  height: 15vh;
  width: 100%;
  z-index: 100;
  background-color: black;
}

body header .menu-button closed {
  visibility: hidden;
}

body header .menu-button {
  position: relative;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 10px;
  border: solid 2px gray;
}

body header .menu-button.clicked {
  background-color: blue;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
}

body header .menu-button .top-line {
  position: absolute;
  top: 25%;
  left: 50%;
  display: block;
  width: 70%;
  height: 5px;
  border: solid 2px white;
  background-color: white;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

body header .menu-button .middle-line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 70%;
  height: 5px;
  border: solid 2px white;
  background-color: white;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

body header .menu-button .bottom-line {
  position: absolute;
  top: 75%;
  left: 50%;
  display: block;
  width: 70%;
  height: 5px;
  border: solid 2px white;
  background-color: white;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

body header .header-nav {
  visibility: hidden;
  position: relative;
  width: 100%;
  top: 10px;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
}

body header .header-nav.slide-in {
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-nav .header-menu {
  z-index: 100;
}

body header .header-nav .header-menu li {
  z-index: 100;
}

body header .header-nav .header-menu li a {
  color: #f0f8ff;
  z-index: 100;
}

body header .header-nav .header-menu li a .mgr-10 {
  margin-left: 10px;
}

body header .header-nav .header-menu li .second-menu {
  background-color: #a9a9a9;
}

body header .header-nav .header-menu li #article-second-menu {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-nav .header-menu li #data-library-second-menu {
  display: none;
}

body header .header-nav .header-menu li #question-second-menu {
  display: none;
}

body header .header-nav .header-menu li #profile-second-menu {
  display: none;
}

body header .header-nav .header-menu #article-first-menu:hover #article-second-menu {
  display: block;
  -webkit-transition: .8s;
  transition: .8s;
}

body header .header-nav .header-menu #data-library-first-menu:hover #data-library-second-menu {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-nav .header-menu #question-first-menu:hover #question-second-menu {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-nav .header-menu #profile-first-menu:hover #profile-second-menu {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-nav li {
  padding: 10px;
  border-bottom: solid 1px white;
  list-style: none;
}

body main .nothing {
  height: 15vh;
  width: 100%;
}

body footer .footer-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

body footer .footer-menu.crash {
  display: None;
}

body footer .footer-menu .appearing-menu.deep {
  display: None;
}

body footer .footer-menu #appear-and-hide-menu {
  position: fixed;
  width: 100%;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-article {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  visibility: hidden;
  background-color: #008080;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-article.appear {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-article ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-article ul li {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div li a {
  list-style-type: none;
  text-align: left;
  color: white;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-datalibrary {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  visibility: hidden;
  background-color: #008080;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-datalibrary.appear {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-datalibrary ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-datalibrary ul li {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-profile {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  visibility: hidden;
  background-color: #008080;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-profile.appear {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-profile ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-profile ul li {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-question {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  visibility: hidden;
  background-color: #008080;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-question.appear {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-question ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-question ul li {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-question ul hr {
  color: #e0ffff;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-createarticle {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  visibility: hidden;
  background-color: #008080;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-createarticle.appear {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-createarticle ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu #appear-and-hide-menu div div div .hide-and-appear-createarticle ul li {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style-type: none;
}

body footer .footer-menu .menu-class.hidden {
  visibility: hidden;
}

body footer .footer-menu #menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#00bfff));
  background: linear-gradient(to bottom, #4682b4, #00bfff);
}

body footer .footer-menu #menu div .footer-links-names {
  text-align: center;
  color: #f8f8ff;
  font-size: 90%;
}

body footer .footer-menu #menu div .icon-links {
  -webkit-transform: translate(60%, 0%);
          transform: translate(60%, 0%);
  vertical-align: middle;
  width: 40%;
  height: auto;
  cursor: pointer;
}

body footer .footer-menu #menu div #article-links {
  border-left: solid 2px white;
  border-right: solid 2px white;
}

body footer .footer-menu #menu div #datalibrary-links {
  border-left: solid 2px white;
  border-right: solid 2px white;
}

body footer .footer-menu #menu div #profile-links {
  border-left: solid 2px white;
  border-right: solid 2px white;
}

body footer .footer-menu #menu div #question-links {
  border-left: solid 2px white;
  border-right: solid 2px white;
}

body footer .footer-menu #menu div #create-article-link {
  border-left: solid 2px white;
  border-right: solid 2px white;
}

body #menu-hide-and-appear-button {
  z-index: 10;
  cursor: pointer;
}

body #menu-hide-and-appear-button .hide-and-appear-class {
  position: fixed;
  right: 1vh;
  bottom: 20vh;
  height: 8%;
  width: auto;
}

body #menu-hide-and-appear-button .hide-and-appear-class.up {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=base.css.map */