*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.mgr-10 {
  margin-left: 10px;
}

input {
  -webkit-appearance: none;
}

main div div #main-box {
  background-color: #f8f8ff;
  border-right: solid 2px #a9a9a9;
}

main div div #main-box .amaist-description-box .amaist-description {
  display: table;
  position: relative;
  width: 100%;
  background-image: url("/static/images/index/data_analysis.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

main div div #main-box .amaist-description-box .amaist-description .amaist-description-text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  position: relative;
}

main div div #main-box .amaist-description-box .amaist-description .amaist-description-text .about-amaist {
  text-align: center;
  font-family: 'arial';
  font-size: 3rem;
  font-weight: 600;
  color: white;
  border-bottom: solid 2px white;
}

main div div #main-box .amaist-description-box .amaist-description .amaist-description-text p {
  text-align: center;
  font-family: 'arial', 'Meiryo';
  font-size: 2rem;
  color: white;
  border-bottom: solid 2px white;
}

main div div #main-box .amaist-description-box .amaist-description::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

main div div #main-box .amaist-description-box .amaist-survice-box {
  margin-top: 3%;
}

main div div #main-box .amaist-description-box .amaist-survice-box .survice-icon {
  height: 15vh;
  width: auto;
}

main div div #main-box .amaist-description-box .amaist-survice-box .survice-name {
  text-align: center;
  font-family: 'Book Antiqua';
  font-size: 2vh;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-article-box {
  border: solid 2px #008000;
  -webkit-box-shadow: 0 0 10px #c0c0c0;
          box-shadow: 0 0 10px #c0c0c0;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-article-box .survice-name {
  color: #008000;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-article-box .about-article {
  font-family: 'arial', 'Meiryo';
  font-size: 2vh;
  color: #008000;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-question-box {
  border: solid 2px #9932cc;
  margin-top: 3%;
  -webkit-box-shadow: 0 0 10px #c0c0c0;
          box-shadow: 0 0 10px #c0c0c0;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-question-box .survice-name {
  color: #9932cc;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-question-box .about-question {
  font-family: 'arial', 'Meiryo';
  font-size: 2vh;
  color: #9932cc;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-datalibrary-box {
  border: solid 2px #4682b4;
  -webkit-box-shadow: 0 0 10px #c0c0c0;
          box-shadow: 0 0 10px #c0c0c0;
  margin-top: 3%;
  margin-bottom: 2%;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-datalibrary-box .survice-name {
  color: #4682b4;
}

main div div #main-box .amaist-description-box .amaist-survice-box .amaist-survice-datalibrary-box .about-datalibrary {
  font-family: 'arial', 'Meiryo';
  font-size: 2vh;
  color: #4682b4;
}

main div div #main-box .amaist-description-box .amaist-survice {
  margin-top: 2%;
  font-family: 'arial', 'Meiryo';
  font-size: 4vh;
  color: #366ba1;
  font-weight: 600;
  text-shadow: 1px 1px 1px #5782c7;
  border-bottom: solid 2px #366ba1;
}

main div div #main-box .article-box .article-division-hr {
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #00bfff 0, #00bfff 1px, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #00bfff 0, #00bfff 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
}

main div div #main-box .article-box #icon .author-icon .user-icon {
  width: 15vh;
  height: auto;
}

main div div #main-box .article-box #author-name-created-at {
  border-left: solid 5px #b0c4de;
}

main div div #main-box .article-box #author-name-created-at div p {
  color: #4682b4;
  display: inline-block;
  border-bottom: dotted 2px #b0c4de;
  font-size: 1rem;
}

main div div #main-box .article-box #author-name-created-at div h2 {
  display: inline-block;
}

main div div #main-box .article-box #author-name-created-at div p {
  display: inline-block;
}

main div div #main-box .article-box #author-name-created-at div p {
  display: inline-block;
}

main div div #main-box .article-box #title a {
  color: #5f9ea0;
}

main div div #main-box .article-box #title a h3 {
  text-align: center;
  font-size: 3vh;
}

main div div #main-box .article-box #title .title-hr {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#87ceeb), color-stop(#000080), to(#87ceeb));
  background: linear-gradient(to right, #87ceeb, #000080, #87ceeb);
}

main div div #main-box .article-box #good-number p {
  color: #ff69b4;
  margin-left: 80%;
  font-size: 3vh;
}

main div div #main-box .login-and-register-box {
  display: table;
  width: 100%;
  height: 320px;
  background-image: url("/static/images/index/register-login.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

main div div #main-box .login-and-register-box .login-and-register-text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 80%;
}

main div div #main-box .login-and-register-box .login-and-register-text .login-and-register {
  text-align: center;
  color: #a7ae29;
  font-size: 3vh;
  font-family: 'Book Antiqua', 'Meiryo';
}

main div div #main-box .login-and-register-box .login-and-register-text .login-and-register a {
  color: #a7ae29;
}

main div div #main-box .login-and-register-box .login-and-register-text #login-and-register-title {
  text-align: center;
  color: white;
  font-weight: 600;
}

main div div #main-box .login-and-register-box .login-and-register-text #login-and-register-title span {
  border-bottom: solid 2px white;
}
/*# sourceMappingURL=index.css.map */