*,
*::before,
*::after {
    box-sizing: border-box;
}

//common style 
.mgr-10 {
    margin-left: 10px;
}

main {
    .register-box {
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        border: solid 2px #ee82ee;
        box-shadow: 0 0 5px #808080;

        .regiter-page-title {
            border-bottom: dotted 2px #d8bfd8;

            .regiter-page-text {
                margin-top: 2%;
                color: #d2b48c;
                font-size: 3vh;
                font-family: 'Century';
                text-align: center;
            }
        }
    }

    .register-form-box {
        form {

            //common style
            .user-input-text {
                margin-top: 2%;
                margin-left: 5%;
                width: 100%;
                color: #4682b4;
                font-size: 2vh;
                font-family: 'Century';
            }

            .horizontal-line {
                background-color: #fff0f5;
                width: 90%;
            }

            .username-input-box {
                p {

                    input {
                        display: block;
                        width: 90%;
                        outline: none;
                        border: solid 2px #f08080;
                        border-radius: 2px;
                    }

                    input:focus {
                        box-shadow: 0 0 10px #ffc0cb;
                    }
                }

                ul {

                    li {
                        list-style-type: none;
                        color: #dc143c;
                        font-size: 2vh;
                        font-family: 'Meiryo';
                    }
                }

            }

            .email-input-box {
                p {
                    input {
                        display: block;
                        width: 90%;
                        outline: none;
                        border: solid 2px #f08080;
                        border-radius: 2px;
                    }

                    input:focus {
                        box-shadow: 0 0 10px #ffc0cb;
                    }
                }

                ul {

                    li {
                        list-style-type: none;
                        color: #dc143c;
                        font-size: 2vh;
                        font-family: 'Meiryo';
                    }
                }
            }

            .password1-input-box {
                p {
                    input {
                        display: block;
                        width: 90%;
                        outline: none;
                        border: solid 2px #f08080;
                        border-radius: 2px;
                    }

                    input:focus {
                        box-shadow: 0 0 10px #ffc0cb;
                    }
                }

                ul {

                    li {
                        list-style-type: none;
                        color: #dc143c;
                        font-size: 2vh;
                        font-family: 'Meiryo';
                    }
                }
            }

            .password2-input-box {
                p {
                    input {
                        display: block;
                        width: 90%;
                        outline: none;
                        border: solid 2px #f08080;
                        border-radius: 2px;
                    }

                    input:focus {
                        box-shadow: 0 0 10px #ffc0cb;
                    }
                }

                ul {

                    li {
                        list-style-type: none;
                        color: #dc143c;
                        font-size: 2vh;
                        font-family: 'Meiryo';
                    }
                }
            }

            .lastline {
                border: dotted 3px #d8bfd8;
            }

            div {
                .service-term {
                    margin-left: 40%;
                    margin-top: 1%;
                }
            }

            #register-button {
                margin-bottom: 2%;
                margin-left: 10%;
                width: 80%;
                box-shadow: 0 0 5px #808080;
                font-size: 2vh;
                font-family: 'Meiryo';
            }

            #register-button[type="submit"]disabled {
                background-color: #a9a9a9;
            }

            #register-button:focus {
                box-shadow: none;
            }
        }
    }
}