//smartphone
a {
    text-decoration: none;
}

//smartphone
@media screen and (max-width:767px){
    #registration {
        position: relative;
        background-color: #fefefe;
        padding: 20px 20px;

        form {
            h2 {
                text-align: center;
                font-size: 1.4rem;
                font-weight: bold;
                color:#509844;
            }
    
            h5 {
                margin-bottom: 0px;
                font-size: 1rem;
                font-weight: bold;
                color:#2e8b57;
            }
    
            .input-group {
                margin-bottom:20px;
            }
    
            #term {
                label {
                    a {
                        color:#d174a8;
                    }
                }
            }
    
            #register-button {
                margin-top: 20px;
                width: 100%;
                box-shadow: 0 0 5px #808080;
            }
    
            #register-button[type="submit"]disabled {
                background-color: #a9a9a9;
            }
    
            #register-button:focus {
                box-shadow: none;
            }
        }
    }
}

//desktop
@media screen and (min-width:768px){
    #registration {
        position: relative;
        background-color: #fefefe;
        padding: 100px 30%;

        form {
            h2 {
                text-align: center;
                font-size: 1.4rem;
                font-weight: bold;
                color:#509844;
            }
    
            h5 {
                margin-bottom: 0px;
                font-size: 1rem;
                font-weight: bold;
                color:#2e8b57;
            }
    
            .input-group {
                margin-bottom:20px;
            }
    
            #term {
                label {
                    a {
                        color:#d174a8;
                    }
                }
            }
    
            #register-button {
                margin-top: 20px;
                width: 100%;
                box-shadow: 0 0 5px #808080;
            }
    
            #register-button[type="submit"]disabled {
                background-color: #a9a9a9;
            }
    
            #register-button:focus {
                box-shadow: none;
            }
        }
    }
}