body {
    main {
        .profile-search {
            position: relative;

            form {

                input {
                    left: 50%;
                }

                button {
                    left: 50%;
                }
            }
        }

        p {
            text-align: center;
            font-family: 'ＭＳ Ｐゴシック';
            font-size: 200%;
        }

        #user-profiles {
            background-color: #f0f8ff;

            div {
                #each-user-profile {
                    border-radius: 5vh;
                    padding: 2% 2% 2% 2%;

                    div {
                        height: 100%;

                        div {
                            height: 100%;

                            .profile-element-size {
                                height: 100%;
                            }

                            #user-icon-box {
                                border-radius: 5vh 0 0 0;
                                background-color: #5f9ea0;
                                padding: 0 2% 2% 0;
                                height: 50%;
                                background: radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 14px, #0099ff 15px);

                                .user-icon {
                                    position: relative;
                                    border-radius: 5vh 0 0 0;
                                    background: linear-gradient(to top, #87ceeb, #e0ffff);
                                    width: 100%;
                                    border: solid 3px #5f9ea0;

                                    .user-icon-img {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        -webkit-transform: translate(-50%, -40%);
                                        transform: translate(-50%, -50%);
                                        width: 70%;
                                        height: 70%;
                                        border-radius: 50%;
                                        object-fit: cover;
                                        object-position: 0px 0px;
                                    }
                                }
                            }

                            #user-username-box {
                                border-radius: 0 5vh 0 0;
                                background-color: #5f9ea0;
                                padding: 0 0 2% 2%;
                                height: 50%;

                                .user-username {
                                    border-radius: 0 5vh 0 0;
                                    background: linear-gradient(to top, #87ceeb, #e0ffff);
                                    width: 100%;
                                    height: 100%;
                                    border: solid 3px #5f9ea0;
                                }

                                .username-p {
                                    text-align: center;
                                    font-family: 'Century Gothic';
                                    font-size: 150%;
                                }

                                .username-content {
                                    top: 50%;
                                    text-align: center;
                                    font-family: 'Century Gothic';
                                    font-size: 300%;
                                }
                            }

                            #user-profile-detail-box {
                                border-radius: 0 0 0 5vh;
                                background-color: #5f9ea0;
                                padding: 2% 2% 0 0;
                                height: 50%;

                                .user-profile-detail {
                                    position: relative;
                                    border-radius: 0 0 0 5vh;
                                    background: linear-gradient(to bottom, #87ceeb, #e0ffff);
                                    width: 100%;
                                    height: 100%;
                                    border: solid 3px #5f9ea0;

                                    a {
                                        button {
                                            position: relative;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translate(-50%, -40%);
                                            transform: translate(-50%, -50%);
                                            width: 80%;
                                            height: 45%;
                                        }
                                    }
                                }
                            }

                            #user-introduction-box {
                                border-radius: 0 0 5vh 0;
                                background-color: #5f9ea0;
                                padding: 2% 0 0 2%;
                                height: 50%;

                                .user-introduction {
                                    border-radius: 0 0 5vh 0;
                                    background: linear-gradient(to bottom, #87ceeb, #e0ffff);
                                    width: 100%;
                                    height: 100%;
                                    border: solid 3px #5f9ea0;
                                }

                                .introduction-p {
                                    text-align: center;
                                    font-size: 150%;
                                }

                                .introduction-content {
                                    top: 50%;
                                    text-align: center;
                                    font-family: 'ＭＳ Ｐゴシック';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}