@charset "UTF-8";
body main .profile-search {
  position: relative;
}

body main .profile-search form input {
  left: 50%;
}

body main .profile-search form button {
  left: 50%;
}

body main p {
  text-align: center;
  font-family: 'ＭＳ Ｐゴシック';
  font-size: 200%;
}

body main #user-profiles {
  background-color: #f0f8ff;
}

body main #user-profiles div #each-user-profile {
  border-radius: 5vh;
  padding: 2% 2% 2% 2%;
}

body main #user-profiles div #each-user-profile div {
  height: 100%;
}

body main #user-profiles div #each-user-profile div div {
  height: 100%;
}

body main #user-profiles div #each-user-profile div div .profile-element-size {
  height: 100%;
}

body main #user-profiles div #each-user-profile div div #user-icon-box {
  border-radius: 5vh 0 0 0;
  background-color: #5f9ea0;
  padding: 0 2% 2% 0;
  height: 50%;
  background: radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 14px, #0099ff 15px);
}

body main #user-profiles div #each-user-profile div div #user-icon-box .user-icon {
  position: relative;
  border-radius: 5vh 0 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#87ceeb), to(#e0ffff));
  background: linear-gradient(to top, #87ceeb, #e0ffff);
  width: 100%;
  border: solid 3px #5f9ea0;
}

body main #user-profiles div #each-user-profile div div #user-icon-box .user-icon .user-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

body main #user-profiles div #each-user-profile div div #user-username-box {
  border-radius: 0 5vh 0 0;
  background-color: #5f9ea0;
  padding: 0 0 2% 2%;
  height: 50%;
}

body main #user-profiles div #each-user-profile div div #user-username-box .user-username {
  border-radius: 0 5vh 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#87ceeb), to(#e0ffff));
  background: linear-gradient(to top, #87ceeb, #e0ffff);
  width: 100%;
  height: 100%;
  border: solid 3px #5f9ea0;
}

body main #user-profiles div #each-user-profile div div #user-username-box .username-p {
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 150%;
}

body main #user-profiles div #each-user-profile div div #user-username-box .username-content {
  top: 50%;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 300%;
}

body main #user-profiles div #each-user-profile div div #user-profile-detail-box {
  border-radius: 0 0 0 5vh;
  background-color: #5f9ea0;
  padding: 2% 2% 0 0;
  height: 50%;
}

body main #user-profiles div #each-user-profile div div #user-profile-detail-box .user-profile-detail {
  position: relative;
  border-radius: 0 0 0 5vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#87ceeb), to(#e0ffff));
  background: linear-gradient(to bottom, #87ceeb, #e0ffff);
  width: 100%;
  height: 100%;
  border: solid 3px #5f9ea0;
}

body main #user-profiles div #each-user-profile div div #user-profile-detail-box .user-profile-detail a button {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: 45%;
}

body main #user-profiles div #each-user-profile div div #user-introduction-box {
  border-radius: 0 0 5vh 0;
  background-color: #5f9ea0;
  padding: 2% 0 0 2%;
  height: 50%;
}

body main #user-profiles div #each-user-profile div div #user-introduction-box .user-introduction {
  border-radius: 0 0 5vh 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#87ceeb), to(#e0ffff));
  background: linear-gradient(to bottom, #87ceeb, #e0ffff);
  width: 100%;
  height: 100%;
  border: solid 3px #5f9ea0;
}

body main #user-profiles div #each-user-profile div div #user-introduction-box .introduction-p {
  text-align: center;
  font-size: 150%;
}

body main #user-profiles div #each-user-profile div div #user-introduction-box .introduction-content {
  top: 50%;
  text-align: center;
  font-family: 'ＭＳ Ｐゴシック';
}
/*# sourceMappingURL=profile_list.css.map */