@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

//動的な操作
.mgr-10 {
    margin-left: 10px;
}

body {
    main {
        div {
            div {
                #main-box {
                    .profile-search {
                        margin-top: 5%;

                        form {

                            input {
                                margin-left: 10%;
                                margin-bottom: 5%;
                                outline: none;
                                border: solid 2px #8fbc8f;
                                font-family: 'Yu Gothic';
                            }
                        }

                        form {

                            input {
                                left: 50%;
                            }

                            button {
                                left: 50%;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        font-family: 'ＭＳ Ｐゴシック';
                        font-size: 200%;
                    }

                    .profile-box {
                        margin-top: 2%;
                        margin-bottom: 2%;
                        box-shadow: 0 0 5px #a9a9a9;

                        .icon-box {

                            img {
                                height: 10vh;
                                width: auto;
                            }
                        }

                        .username-box {
                            border-right: dotted 2px #87cefa;
                            border-left: dotted 2px #87cefa;

                            p {
                                text-align: center;
                                font-family: 'arial', 'Meiryo';
                                font-size: 3vh;
                                color: #6495ed;
                            }
                        }

                        .introduction-box {
                            background-color: #e0ffff;

                            p {
                                font-family: 'arial', 'Meiryo';
                                font-size: 2px;
                            }
                        }
                    }
                }
            }
        }

    }
}