//smartphone
@media screen and (max-width:767px){
    #password-reset {
        padding: 80px 20px; 
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
        }

        form {
            p {
                margin-bottom:0px;
                font-size: 0.9rem;
                font-weight: bold;
            }
    
            div {
                margin-bottom: 10px;
            }
    
            button {
                width:100%;
            }
        }
    }
}

@media screen and (min-width:768px){
    #password-reset {
        padding: 100px 30%; 
        h2 {
            font-size: 1.4rem;
            font-weight: bold;
        }

        form {
            p {
                margin-bottom:0px;
                font-size: 1rem;
                font-weight: bold;
            }
    
            div {
                margin-bottom: 20px;
            }
    
            button {
                width:100%;
            }
        }
    }
}