*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mgr-10 {
  margin-left: 10px;
}

body {
  background-color: #f0ffff;
}

input {
  -webkit-appearance: none;
}

@media screen and (max-width: 767px) {
  .login_contents {
    padding: 30px 10px;
    font-family: "serif";
  }
  .login_contents .login-title {
    text-align: center;
    font-size: 1.2rem;
  }
  .login_contents #login-form {
    padding: 0 0 20px 0;
  }
  .login_contents #login-form div {
    padding: 0 0 20px 0;
  }
  .login_contents #login-form div input {
    border: solid 2px #4d4d1a;
    border-radius: 2px;
    outline: none;
    height: 40px;
    width: 100%;
  }
  .login_contents #login-form #login_button {
    margin-left: 5%;
    width: 90%;
  }
  .login_contents .forget_password_link p a {
    -webkit-text-emphasis: none;
            text-emphasis: none;
    text-decoration: none;
    color: #34582c;
  }
}

@media screen and (min-width: 768px) {
  .login_contents {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid 2px #1e90ff;
  }
  .login_contents .login-title {
    font-family: 'Bookman Old Style';
    color: #6495ed;
    text-align: center;
    font-size: 2rem;
    border-bottom: dotted 2px #87ceeb;
  }
  .login_contents form {
    height: 280px;
  }
  .login_contents form .login-username-box .login-username-text {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Book Antiqua';
    font-size: 1.2rem;
    color: #808080;
    padding-left: 5%;
  }
  .login_contents form .login-username-box #id_username {
    display: inline-block;
    width: 90%;
    height: 40px;
    outline: none;
    border: solid 2px #afeeee;
    font-family: 'Book Antiqua';
    margin-left: 5%;
  }
  .login_contents form .login-username-box #id_username:focus {
    -webkit-box-shadow: 0 0 10px #a9a9a9;
            box-shadow: 0 0 10px #a9a9a9;
  }
  .login_contents form .login-password-box {
    margin-top: 2%;
  }
  .login_contents form .login-password-box .login-password-text {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Book Antiqua';
    font-size: 1.2rem;
    color: #808080;
    padding-left: 5%;
  }
  .login_contents form .login-password-box #id_password {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 40px;
    outline: none;
    border: solid 2px #afeeee;
    font-family: 'Book Antiqua';
    margin-left: 5%;
  }
  .login_contents form .login-password-box #id_password:focus {
    -webkit-box-shadow: 0 0 10px #a9a9a9;
            box-shadow: 0 0 10px #a9a9a9;
  }
  .login_contents form #login_button {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 1.2rem;
    font-family: 'Meiryo';
  }
  .login_contents .forget_password_link {
    margin-top: 5%;
  }
  .login_contents .forget_password_link p {
    font-size: 1.2rem;
    font-family: 'Meiryo';
    text-align: right;
    margin-right: 5%;
  }
  .login_contents .forget_password_link p a {
    color: #696969;
  }
}
/*# sourceMappingURL=login.css.map */