{% load static %}
<link rel="stylesheet" href="{% static 'includes/list/list1/list1.css' %}">

<div id="A7xKKK126gajsh"> 
    <div id="search-box">
        <h2 class="font-arial-MSGothic">記事検索</h2>
        <form method="GET" id="article-search">
            <div class="input-group mb-3" id="article-search-box">
                <input class="search-input form-control" type="text" name="article_search" placeholder="タイトル検索" aria-label="article" aria-describedby="article-search-box"></input>
                <button class="search-btn btn btn-outline-info text-white" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <form method="GET" id="tag-search">
            <div class="input-group mb-3" id="tag-search-box">
                <input class="search-input form-control" type="text" name="tag_search" placeholder="タグ検索" aria-label="tag" aria-describedby="tag-search-box"></input>
                <button class="search-btn btn btn-outline-info text-white" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <form method="GET" id="genre-search">
            <div id="selections" class="input-group mb-3">
                <select name="genre_search" class="form-select" id="inputGroupSelect01">
                    <option selected>選択肢</option>
                    {% for key, value in genres.items %}
                        <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
                <button class="search-btn btn btn-outline-info text-white" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div id="list-contents">
        {% for article in article_list %}
            <a href="{% url 'article:article_detail' article.pk%}">
                <div class="contents container font-arial-MSGothic">
                    <div class="row d-flex align-items-center">
                        <div class="author-icon col-4 col-md-2 col-xl-2">
                            <img class="icon-80" src="{{ MEDIA_URL }}{{article.author.user.icon|default:'images/user-icon-default.png'}}">
                        </div>
                        <div class="article-info col-8 col-md-4 col-xl-4">
                            <p class="info"><i class="fas fa-user"></i><span class="mgr-10"></i>{{article.author}}<span class="mgr-10"></span><i class="far fa-calendar-alt"></i><span class="mgr-10"></span>{{article.created_at|date:"Y年m月d日"}}</p>
                            <p class="info">
                                <i class="fas fa-tags"></i>
                                {% for tag in article.tag.all %}
                                <span class="mgr-10"></span>{{tag}}
                                {% empty %}
                                {% endfor %}
                                <span class="mgr-10"></span>
                                <i class="fas fa-hashtag"></i><span class="mgr-10"></span>{{article.genre}}
                            </p>
                            <p class="info">
                                <i class="fas fa-thumbs-up"></i><span class="mgr-10"></span>{{article.good_from|length}}
                            </p>
                        </div>
                        <div class="article-title col-12 col-md-6 col-xl-6">{{article.title}}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div id="pagenation">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
    
                {% for num in page_obj.paginator.page_range %}
                    {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
        
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>