{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'data_library/create/create.css' %}">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-xl-3" id="left-box">
        </div>
        <div class="col-12 col-md-6 col-xl-6" id="main-box">

            <!--discribe what page this is-->
            <div class="question-page-title">
                <p><span class="mgn-10"></span><i class="fas fa-file-invoice"></i><span class="mgn-10"></span>データ投函</p>
            </div>
            <div class="form-box">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-file-box">
                        <p class="input-file-p"><i class="fas fa-mail-bulk"></i><span class="mgr-10"></span>データをポスト(.csc, .xlsx, .txt, .sqlite可</p>
                        {{form.data_file}}
                        {% if form.data_file.errors %}
                        {{form.data_file.errors}}
                        {% endif %}
                    </div>

                    <div class="input-introduction-box">
                        <p class="input-introduction-p"><i class="fas fa-sticky-note"></i><span class="mgr-10"></span>データについての説明</p>
                        {{form.media}}
                        {{form.introduction}}
                    </div>

                    <hr class="horizontal-line">

                    <input id="post-button" type="submit" class="btn btn-success"></input>
                </form>
            </div>

            <hr class="horizontal-line">

            <img src="{% static 'images/base/datalibrary.png' %}" class="img-responsive"/>
        </div>
        <div class="col-12 col-md-3 col-xl-3" id="right-box"></div>
    </div>
</div> 
{% endblock contents %}

{% block script %}
<script type="text/javascript" src="{% static 'data_library/create/create.js' %}"></script>
{% endblock script %}
