{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>データ投函</title>
<link rel="stylesheet" href="{% static 'data_library/create/create.css' %}">
{% endblock stylesheet %}
{% block contents %}
    <div id="form-box">
        <h1 id="page-title" class="title">Post Data</h1>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="data-upload-box" class="boxes">
                <div class="numbering">Step1</div>
                <p class="description">データをポスト(.csc, .xlsx, .txt, .sqlite可）</p>
                <div id="file-input-box">
                    <input type="file" multiple name="data_file" class="data_file" id="id_data_file"></input>
                </div>
                <p id="add-file-button-p"><i class="far fa-plus-square fa-3x" id="add-file-button"></i></p>
            </div>
            <div id="data-description-box" class="boxes">
                <div class="numbering">Step2</div>
                <p class="description">データについて</p>
                {{form.media}}
                {{form.introduction}}
            </div>
            <p id="post"><input id="post-button" type="submit"></input></p>
        </form>
    </div>
{% endblock contents %}

{% block script %}
<script type="text/javascript" src="{% static 'data_library/create/create.js' %}"></script>
{% endblock script %}
