{% extends 'base.html' %}
{% load static %}
{% block contents %}
    {{object.introduction}}
    {{object.uploader}}
    {{object.created_at}}
    {{object.data_file}}

    <form method="POST" class="comment-form" action="{% url 'data_library:comment' %}">
        {% csrf_token %}
        <input type="hidden" name="data_object_pk" value="{{object.pk}}"/>
        <input type="text" name="comment"/>
        <button type-"submit" class="btn btn-success">送信</button>
    </form>

    <form method="POST" class="good_count" action="{% url 'data_library:good_count' %}">
        {% csrf_token %}
        <input type="hidden" name="good_count" value="{{object.pk}}"/>
        <button type="submit" class="btn btn-primary">いいね！</button>
    </form>

    <div class="good-display">
        <p>いいね</p>
        {{good_number}}
    </div>

    <div class="comment-display">
        <p>コメントの表示</p>
        {% for comment_object in comment_list %}
        {{comment_object.comment_from}}
        {{comment_object.content}}
        {% endfor %}
    </div>
{% endblock contents %}
