{% extends 'base.html' %}
{% load static %}
{% load filename %}
{% block stylesheet %}
<title>Data Library</title>
<link rel="stylesheet" href="{% static 'data_library/detail/detail.css' %}">
{% endblock stylesheet %}


{% block contents %}
    <div id="data-description">
        <div id="uploader-box" class="d-flex justify-content-between">
            <img src="{{MEDIA_URL}}{{object.uploader.user.icon}}"></img>
            <div class="align-self-center">
                <p><i class="fas fa-user"></i><span class="mgr-10"></span>{{object.uploader.user}}</p>
                <p><i class="fas fa-clock"></i><span class="mgr-10"></span>{{object.created_at}}</p>
            </div>
        </div>
        <table id="data-table">
            {% for data_file in object.data_file.all %}
            <tr class="data">
                <td class="data-name">
                    <span class="mgr-10"></span><i class="fas fa-file-invoice"></i><span class="mgr-10"></span>{{data_file.datalibrary_file|get_filename}}
                </td>
                <td class="download-link">
                    <a href="{{MEDIA_URL}}{{data_file.datalibrary_file}}" download={{MEDIA_URL}}{{data_file.datalibrary_file}}>
                        <i class="fas fa-download"></i>
                    </a>
                </td>
            </tr>
            <tr class="blank-cell"></tr>
            {% endfor %}
        </table>
    </div>

    <div id="comment-box">
        <div id="comment-form-box">
            <p id="comment-title">コメント</p>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden"  name="response_to" value="{{request.user}}"></input>
                <input type="hidden" name="data_object_pk" value="{{object.pk}}"></input>
                {{form.media}}
                {{form.as_p}}
                <button type="submit">送信</button>
            </form>
        </div>
        <div id="comment-list-box">
            <div class="blank-box"></div>
            {% for comment_object in comment_list %}
            <div class="comment">
                <div class="commentor-name">
                    <i class="fas fa-user"></i><span class="mgr-10"></span>
                    <a class="user-link" href="{% url 'profiles:otheruser_profile' object.uploader.user.pk %}">{{comment_object.comment_from}}</a>
                </div>
                <p class="created-at">
                    <i class="fas fa-clock"></i><span class="mgr-10">{{comment_object.created_at}}
                </p>
                <div class="content">
                    {{comment_object.content|safe}}
                </div>
            </div>
            <div class="blank-box"></div>
            {% endfor %}
        </div>
    </div>

{% endblock contents %}

