{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <title>データ一覧</title>
    <link rel="stylesheet" href="{% static 'data_library/list.css' %}">
{% endblock stylesheet %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div id="search-box" class="col-xl-4 col-md-4 col-12">
                <table id="search">
                    <tr id="search-title">
                        <th>
                            <p>データ検索</p>
                        </th>
                    </tr>
                    <tr id="search-content">
                        <th>
                            <form class="flex-column" method="GET" action="{% url 'article:list' %}" id="article-search">
                                <p>
                                    <input class="search-input" type="text" name="data-search" placeholder="  本文検索"></input>
                                    <a class="search-button" type="submit"><i class="fas fa-search"></i></a>
                                </p>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
            <div id="data-list-box" class="col-xl-8 col-md-8 col-12">
                {% for data_library in object_list %}
                <table class="each-data">
                    <tr class="uploader">
                        <th class="uploader-name">
                            <p>
                                Uploaded by<span class="mgr-10"></span>{{data_library.uploader}}
                            </p>
                        </th>
                        <th class="uploader-icon"><img src="{{ MEDIA_URL }}{{data_library.uploader.user.icon|default:'images/user-icon-default.png'}}"></img></th>
                    </tr>
                    <tr class="about-data">
                        <th>
                            <div class="data-introduction">{{data_library.title}}</div>
                        </th>
                    </tr>
                    <tr class="upload-date-and-send">
                        <th class="upload-date">
                            <p><i class="far fa-calendar-alt"></i><span class="mgr-10"></span>{{data_library.created_at|date:"y/m/d"}}</p>
                        </th>
                        <th class="detail-button">
                            <a class="button" href="{% url 'data_library:detail' data_library.pk %}">
                                <span class="mgr-10"></span><i class="fas fa-arrow-right"></i><span class="mgr-10"></span>詳細へ<span class="mgr-10"></span>
                            </a>
                        </th>
                    </tr>
                </table>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contents %}
{% block script %}
<script type="text/javascript" src="{% static 'data_library/list.js' %}"></script>
{% endblock script %}