{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <title>データ一覧</title>
    <link rel="stylesheet" href="{% static 'data_library/list.css' %}">
{% endblock stylesheet %}

{% block contents %}
    <div class="container-fluid">
        <div class="row">

            <!--left side display-->
            <div class="col-12 col-md-3 col-xl-3" id="left-box">
            </div>

            <!--main contents-->
            <div class="col-12 col-md-6 col-xl-6" id="main-box">

                <!--display comment in here-->
                <div class="comment-box">
                    <p><i class="fas fa-database"></i><span class="mgr-10"></span>データ一覧</p>
                </div>

                <hr>

                <!--display each user's data file-->
                {% for data_library in object_list %}
                <div class="each-data-box">

                    <!--show data discription-->
                    <div class="introduction-box">
                        <p class="data-element-title"><span class="mgr-10"/>-<i>About Data</i>-</p>
                        <p>{{data_library.introduction|safe}}</p>
                    </div> 

                    <!--show posted date and person who post the data-->
                    <div class="poster-date-box">
                        <div class="posted-by-box">
                            <p class="data-element-title" id="uploader-title"><span class="mgr-10"/>-<i>Uploader</i>-</p>
                            <p class="uploader-name"><i class="fas fa-user"></i><span class="mgr-10"/>{{data_library.uploader}}</p>
                        </div>
                        <div class="date-box">
                            <p><i class="far fa-calendar-alt"></i><span class="mgr-10"/>{{data_library.created_at|date:"y/m/d"}}</p>
                        </div>
                    </div>

                    <!--jump to data file from here-->
                    <div class="data-link-box">
                        <a href="{% url 'data_library:detail' data_library.pk %}">
                            <button type="submit" class="btn btn-primary">詳細</button>
                        </a>
                    </div>

                    <hr>

                </div>
                {% endfor %}
            </div>

            <!--right side display-->
            <div class="col-12 col-md-3 col-xl-3" id="right-box">
            </div>

        </div>
    </div>
<!--{% for data_object in object_list %}
    <a href="{% url 'data_library:detail' data_object.pk %}">
    {{data_object.data_file}}
    {{data_object.uploader}}
    {{data_object.created_at}}
    </a>
    {% endfor %}-->
{% endblock contents %}
