{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'home/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>

<!--以下ににヘッダーを表示-->
    <header>

        <!--メニューを開くボタン-->
        <div class = 'menu-button'>
            <div class="top-line"></div>
            <div class="middle-line"></div>
            <div class="bottom-line"></div>
        </div>



        <div class="header-nav">
            <ul class="header-menu">
                <li><a href="{% url 'article:list' %}"><i class="fas fa-chevron-right"></i>Home</a></li>
                <li><a href="{% url 'article:CreateArticle' %}"><i class="fas fa-chevron-right"></i>Article</a></li>
                <li><a href="{% url 'data_library:list' %}"><i class="fas fa-chevron-right"></i>Data Library</a></li>
                <li><a href="{% url 'question:list' %}"><i class="fas fa-chevron-right"></i>Questions</a></li>
                <li><a href="{% url 'login' %}"><i class="fas fa-chevron-right"></i>Login</a></li>
                {% if request.user.is_authenticated %}    
                <li><a href="{% url 'profiles:found_or_not_found' %}"><i class="fas fa-chevron-right"></i>Profile</a></li>
                {% endif %}
                
            </ul>
        </div>
    </header>


    <main >
    <div class="nothing">
    </div>
    {% block contents %}
    {% endblock %}
    </main>

    <footer>
        <div class="footer-menu">
            <div class="appearing-menu" id="appear-and-hide-menu">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 col-md-2 col-xl-2">
                            <div class="hide-and-appear-article">
                                <ul class="hide-and-appear-article-ul" id="links-to-article">
                                    <li><a href="{% url 'article:CreateArticle' %}">記事作成</a></li>
                                    <hr>
                                    <li><a href="{% url 'article:list' %}">記事一覧</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-xl-2">
                            <div class="hide-and-appear-datalibrary">
                                <ul class="hide-and-appear-datalibrary-ul" id="links-to-adatalibrary">
                                    <li><a href="{% url 'data_library:create' %}">データ投函</a></li>
                                    <hr>
                                    <li><a href="{% url 'data_library:list' %}">データ一覧</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-xl-2">
                            <div class="hide-and-appear-profile">
                                <ul class="hide-and-appear-profile-ul" id="links-to-profile">
                                    {% if request.user.is_authenticated %}    
                                    <li><a href="{% url 'profiles:found_or_not_found' %}">プロフィール画面へ</a></li>
                                    {% endif %}
                                    <hr>
                                    <li><a href="{% url 'profiles:profile_list' %}">プロフィール一覧</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-xl-2">
                            <div class="hide-and-appear-question">
                                <ul class="hide-and-appear-question-ul" id="links-to-quetion">
                                    <li><a href="{% url 'question:create' %}">質問作成</a></li>
                                    <hr>
                                    <li><a href="{% url 'question:list' %}">質問一覧</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2 col-md-2 col-xl-2">
                            <div class="hide-and-appear-createarticle">
                                <ul class="hide-and-appear-createarticle-ul" id="link-to-create-article">
                                    <li><a href="{% url 'article:CreateArticle' %}">記事作成</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hide-menu">
                <img id="hide-and-appear" class="hide-and-appear-class" src="{% static 'images/base/hide_and_appear.png' %}"/>
            </div>
            <div class="menu-class container-fluid" id="menu">
                <div class="row">
                    <div class="col-2 col-md-2 col-xl-2" id="article-links">
                        <p class="footer-links-names">分析結果</p>
                        <img src="{% static 'images/base/article.png' %}" id="article-icon" class="img-responsive icon-links"/>
                    </div>
                    <div class="col-2 col-md-2 col-xl-2" id="datalibrary-links">
                        <p class="footer-links-names">データの貯蔵庫</p>
                        <img src="{% static 'images/base/datalibrary.png' %}" id="datalibrary-icon" class="img-responsive icon-links"/>
                    </div>
                    <div class="col-2 col-md-2 col-xl-2" id="profile-links">
                        <p class="footer-links-names">Your Profile</p>
                        <img src="{{MEDIA_URL}}{{request.user.user.icon}}" id="profile-icon" class="img-responsive icon-links"/>
                    </div>
                    <div class="col-2 col-md-2 col-xl-2" id="question-links">
                        <p class="footer-links-names">Solve Your Question!!</p>
                        <img src="{% static 'images/base/question.jpg' %}" id="question-icon" class="img-responsive icon-links"/>
                        
                    </div>
                    <div class="col-2 col-md-2 col-xl-2" id="create-article-link">
                        <p class="footer-links-names">Let's create Artcile!!</p>
                        <img src="{% static 'images/base/create_article.png' %}" id="createarticle-icon" class="img-responsive icon-links"/>
                    </div>
                    <div class="col-2 col-md-2 col-xl-2" id="comingsoon-link">
                        <p class="footer-links-names">Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c8491d5b73.js" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="{% static 'home/base.js' %}"></script>
{% block script %}
{% endblock %}
</html>