{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'home/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>

<!--以下ににヘッダーを表示-->
    <header>

        <!--メニューを開くボタン-->
        <div class = 'menu-button'>
            <div class="top-line"></div>
            <div class="middle-line"></div>
            <div class="bottom-line"></div>
        </div>



        <div class="header-nav">
            <ul class="header-menu">
                <li><a href="{% url 'article_timeline' %}"><i class="fas fa-chevron-right"></i>Home</a></li>
                <li><a href="{% url 'article:CreateArticle' %}"><i class="fas fa-chevron-right"></i>Article</a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i>Competition</a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i>Questions</a></li>
                <li><a href="{% url 'login' %}"><i class="fas fa-chevron-right"></i>Login</a></li>
                {% if request.user.is_authenticated %}    
                <li><a href="{% url 'profiles:found_or_not_found' %}"><i class="fas fa-chevron-right"></i>Profile</a></li>
                {% endif %}
                
            </ul>
        </div>
    </header>


    <main>
    {% block contents %}
    {% endblock %}
    </main>

</div>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c8491d5b73.js" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="{% static 'home/base.js' %}"></script>
{% block script %}
{% endblock %}
</html>