{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'home/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'images/base/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/base/favicons/icon-192x192.png' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>

<!--以下ににヘッダーを表示-->
    <header>

        <div class="header-box d-flex">

            <!--メニューを開くボタン-->
            <div class = 'menu-button'>
                <div class="top-line"></div>
                <div class="middle-line"></div>
                <div class="bottom-line"></div>
            </div>

            <div class="app-icon ml-auto">
                <img src="{% static 'images/base/logo3.png' %}"></img>
            </div>

            <!--display login user's icon-->
            <div class="user-icon-box ml-auto p-2">
                <a href="{% url 'profiles:found_or_not_found' %}"><img src="{{MEDIA_URL}}{{request.user.user.icon|default:"images/user-icon-default.png"}}"/></a>
            </div>
        </div>



        <div class="header-nav">
            <ul class="header-menu">

                <!--home button-->
                <li><a href="{% url 'index:index' %}"><i class="fas fa-home"></i><span class="mgr-10"></span>Home</a></li>

                <!--article menu-->
                <li id="article-first-menu">
                    <a href="{% url 'article:CreateArticle' %}"><i class="fas fa-book"></i><span class="mgr-10"></span>Article</a>
                    <ul class="second-menu" id="article-second-menu">
                        <li>
                            <a href="{% url 'article:list' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Watch Articles</a>
                        </li>
                        <li>
                            <a href="{% url 'article:CreateArticle' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Create Article</a>
                        </li>
                    </ul>
                </li>

                <!--data library button-->
                <li id="data-library-first-menu">
                    <a href="{% url 'data_library:list' %}"><i class="fas fa-database"></i><span class="mgr-10"></span>Data Library</a>
                    <ul class="second-menu" id="data-library-second-menu">
                        <li>
                            <a href="{% url 'data_library:create' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Create DataLibrary</a>
                        </li>
                        <li>
                            <a href="{% url 'data_library:list' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Watch DataLibrary</a>
                        </li>
                    </ul>
                </li>

                <!--question-menu-->
                <li id="question-first-menu">
                    <a href="{% url 'question:list' %}"><i class="fas fa-question"></i></i><span class="mgr-10"></span>Questions</a>
                    <ul class="second-menu" id="question-second-menu">
                        <li>
                            <a href="{% url 'question:create' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Create Question</a>
                        </li>
                        <li>
                            <a href="{% url 'question:list' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Watch Question</a>
                        </li>
                    </ul>
                </li>

                <!--profile-->
                {% if request.user.is_authenticated %}    
                <li id="profile-first-menu"><a href="{% url 'profiles:found_or_not_found' %}"><i class="fas fa-user-circle"></i><span class="mgr-10"></span>Profile</a>
                    <ul class="second-menu" id="profile-second-menu">
                        <li>
                            <a href="{% url 'profiles:found_or_not_found' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Your Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'profiles:profile_list' %}"><i class="fas fa-angle-right"></i><span class="mgr-10"></span>Watch Profiles</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <!--login-->
                <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i><span class="mgr-10"></span>Login</a></li>

                <!--Inquiry link-->
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdg-QjlojQ0CANiupGAnulT2Uf3jEumpPrdVNwFCZ8OqRzDrQ/viewform?usp=sf_link"><i class="fas fa-info-circle"></i><span class="mgr-10"></span>Inquiry</a></li>
            </ul>
        </div>

    </header>


    <main>
    <div class="nothing">
    </div>
    {% block contents %}
    {% endblock contents %}
    </main>

    <footer>
        <div class="app-box container-fluid">
            <div class="row">
                <div class="col-12 col-md-2 col-xl-2"><img id="footer-icon" src="{% static 'images/base/icon.png' %}"></img></div>
                <div class="col-12 col-md-10 col-xl-10"><p class="app-title"><span class="app-subtitle"><span class="app-title-emphasize">データ分析愛好家</span>のための記事作成サービス</span><br><span class="app-maintitle">Amaist</span></p></div>
            </div>
        </div>
        <div class="footer-contents">
            <p class="inquiry-p"><i class="fas fa-envelope"></i><span class="mgr-10"></span>お問い合わせ先:<span class="mgr-10"></span><a href="mailto:amaizingstrange&#64;gmail.com">amaizingstrange@gmail.com</a></p>
            <p class="term"><i class="fas fa-atlas"></i><span class="mgr-10"></span><a href="{% url 'index:terms' %}">利用規約</a>
        </div>
    </footer>

</div>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c8491d5b73.js" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="{% static 'home/base.js' %}"></script>
{% block script %}
{% endblock %}
</html>