{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>プロフィール変更</title>
<link rel="stylesheet" href="{% static 'profile/create/create.css' %}">
{% endblock stylesheet %}
{% block contents %}
<div class="profile-create-box">
    <h1 class="profile-create-page-title"><span>プロフィールの変更</span></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="icon-input-box profile-background">
            <div class="description">
                <h2 class="step">Step 1</h2>
                <p class="intro">好きな画像をプロフィールにしましょう</p>
            </div>
            {{form.icon}}
        </div>
        <hr class="horizontal-line">
        <div class="introduction-input-box profile-background">
            <div class="description">
                <h2 class="step">Step 2</h2>
                <p class="intro">自己紹文を書いてください</p>
            </div>
            <div id="intro-input-box">{{form.introduction}}</div>
        </div>
        <input id="profile-post-button" type="submit" value="プロフィール作成"/>
    </form>
</div>
{% endblock %}


{% block script %}
{% endblock script %}