{% extends 'base.html'%}
{% load static %}
{% block stylesheet %}
<title>プロフィール</title>
<link rel="stylesheet"href="{% static 'profile/profile_detail/profile_detail.css' %}">
<link rel="stylesheet" href="{% static 'common/base/base.css' %}">
{% endblock stylesheet %}

{% block contents %}

<div class="blank-box-40"></div>

{% include 'includes/profile/detail/user_information.html' %}

<div class="blank-box-40"></div>

{% include 'includes/profile/detail/uploaded_contents.html' %}

<div class="blank-box-40"></div>

{% endblock contents %}