{% extends 'base.html'%}

{% load static %}

{% block stylesheet %}
<title>プロフィール</title>
<link rel="stylesheet"href="{% static 'profile/profile_detail/profile_detail.css' %}">
{% endblock stylesheet %}

{% block contents %}
    <div class='container-fluid' id="user-icon-username-follow-follower">
        <div class='row'>
            <div class='col-12 col-md-4 col-xl-4' id='icon-and-username'>
                <img src="{{ MEDIA_URL }}{{object.icon}}" class="img-responsive user-icon">
            </div>
            <div class='col-12 col-md-8 col-xl-8' id='follow-and-follower'>
                <p class="username"><i class="fas fa-user"></i><span class="mgr-10"/>{{ object.user.username }}</p>
                <div class="follow-count">
                    <p class="follow-and-follower-p">フォロー数</p>
                    <p class="follow-and-follower-number">{{ login_user_follow_count }}</p>
                </div>
                <div class="follower-count">
                    <p class="follow-and-follower-p">フォロワー数</p>
                    <p class="follow-and-follower-number">{{ login_user_follower_count }}</p>
                </div>
            </div>
        </div>  

        <!--display user's profile-->
        <p class="introduction-title"><i class="far fa-user"></i><span class="mgr-10"/><i>-Introduction-</i></p>
        <div class="introduction-box">
            <p class="introduction-p">{{object.introduction}}</p>
        </div>

        <!--profile update button-->
        <div class="profile-update-box">
            <a href="{% url 'profiles:profile_update' profile.pk %}">
                <i id="edit-icon" class="far fa-edit fa-3x d-flex justify-content-end"></i>
            </a>
            <div class='password_change_link d-flex justify-content-end'>
                <p><a href="{% url 'password_change' %}"><i class="fas fa-key"></i>パスワードの変更</a></p>
            </div>
        </div>
    </div>

    <div id="user-works">
        <input id="article-tab-button" class="tab-button" type="radio" name="tab-btn" checked>
        <input id="draft-tab-button" class="tab-button" type="radio" name="tab-btn">
        <input id="question-tab-button" class="tab-button" type="radio" name="tab-btn">
        <input id="data-tab-button" class="tab-button" type="radio" name="tab-btn">
        <div id="tab-box" class="d-flex">
            <label id="article-tab" class="flex-fill" for="article-tab-button">記事</label>
            <label id="draft-tab" class="flex-fill" for="draft-tab-button">下書き</label>
            <label id="question-tab" class="flex-fill" for="question-tab-button">質問</label>
            <label id="data-tab" class="flex-fill" for="data-tab-button">データ</label>
        </div>
        <div id="user-tab-box" class="panel-area">
            <table id="article-works" class="tab-panel">
                {% for published_article in published_articles %}
                <tr class="article work-cell">
                    <th class="blank-cell"></th>
                    <th class="title">
                        <a href="{% url 'article:article_detail' published_article.pk %}">
                            <h2 class="article-title">{{published_article.title}}</h2>
                        </a>
                        {% if empty %}
                        <p>記事を作りましょう！</p>
                        {% endif %}
                    </th>
                    <th class="blank-cell"></th>
                    <th class="created-at">
                        {{published_article.created_at|date:"y/m/d"}}
                    </th>
                </tr>
                {% endfor %}
            </table>
            <table id="draft-works" class="tab-panel">
                {% for draft_article in draft_articles %}
                <tr class="draft work-cell">
                    <th class="blank-cell"></th>
                    <th class="title">
                        <a href={% url 'article:update' draft_article.pk %}>
                            <h2 class="title-p">{{draft_article.title}}</h2>
                        </a>
                        {% if empty %}
                        <p>記事を作りましょう！</p>
                        {% endif %}
                    </th>
                    <th class="blank-cell"></th>
                    <th class="created-at">
                        {{draft_article.created_at|date:"y/m/d"}}
                    </th>
                </tr>
                {% endfor %}
            </table>
            <table id="question-works" class="tab-panel">
                {% for question in questions %}
                <tr class="question work-cell">
                    <th class="blank-cell"></th>
                    <th class="title">
                        <a href="{% url 'question:detail' question.pk %}">
                            <h2>{{question.title}}</h2>
                        </a>
                        {% if empty %}
                        <p>質問を投稿しませんか？</p>
                        {% endif %}
                    </th>
                    <th class="blank-cell"></th>
                    <th class="created-at">
                        {{question.created_at|date:"y/m/d"}}
                    </th>
                </tr>
                {% endfor %}
            </table>
            <table id="data-works" class="tab-panel">
                {% for datalibrary in posted_data %}
                <tr class="data work-cell">
                    <th class="blank-cell"></th>
                    <th class="title">
                        <h2>{{datalibrary.introduction|safe}}</h2>
                        {% if empty %}
                            <p>データの寄付をお願いします！</p>
                        {% endif %}
                    </th>
                    <th class="blank-cell"></th>
                    <th class="created-at">
                        {{datalibrary.created_at|date:"y/m/d"}}
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <!--
    <div class="container" id="user-article-question-box">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-6" id="article-box">
                <p class="title-p"><i class="far fa-newspaper"></i><span class="mgr-10"/>Articles</p>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="my-div-style w-100">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                {% for published_article in published_articles %}
                                <div class='articles'>
                                    <a href="{% url 'article:article_detail' published_article.pk %}">
                                        <h2 class="article-title">{{published_article.title}}</h2>
                                    </a>
                                    <p class="post-meta date-p">{{published_article.created_at|date:"y/m/d"}}</p>
                                </div>
                                <hr>
                                {% empty %}
                                    <p>記事を作りましょう！</p>
                                {% endfor %}

                            {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                <span aria-hidden="true">&laquo;<span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page_num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == page_num %}
                                            <li class="page-item active"><a class-"page-link" href="#">{{page_num}}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="{{page_num}}">{{page_num}}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{page_obj.next_page_number}}">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6" id="question-box">
                <div class="questions">
                    <p class="title-p"><i class="fas fa-question"></i><span class="mgr-10"/>Questions</p>
                    <hr>
                    {% for question in questions %}
                    <a href="{% url 'question:detail' question.pk %}">
                        <p>{{question.title}}</p>
                    </a>
                    <p class="date-p">{{question.created_at|date:"y/m/d"}}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="draft-article-box">
        <p class="draft-title"><i class="fas fa-pen-square"></i>下書き</p>
        {% for draft_article in draft_articles %}
        <div class="now-on-draft d-flex justify-content-between">
            <a href={% url 'article:update' draft_article.pk %}>
                <p class="title-p">{{draft_article.title}}</p>
            </a>

            <p class="date-p">{{draft_article.created_at|date:"y/m/d"}}
        </div>
        {% endfor %}
    </div>
    -->

{% endblock contents %}