{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <title>プロフィール一覧</title>
    <link rel="stylesheet" href="{% static 'profile/profile_list/profile_list.css' %}">
{% endblock stylesheet %}

{% block contents %}
<div id="profile-list" class="container">
    <div id="list-box" class="row">
        <div id="user-search-box" class="col-xl-3 col-md-3 col-12">
            <p>ユーザー検索</p>
            <form method="GET" action="{% url 'profiles:profile_list' %}">
                <input type="text" name="profile_search" placeholder="ユーザー検索"></input>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-xl-1 col-md-1 col-12">
        </div>
        <div id="user-list-box" class="col-xl-8 col-md-8 col-12">
            {% for profile in profile_list %}
            <div class="each-user d-flex">
                <img src="{{MEDIA_URL}}{{profile.icon}}"></img>
                <div id="info" class="align-self-center">
                    <p><i class="fas fa-user"></i><span class="mgr-10"></span>{{profile.user.username}}</p>
                    <p>{{profile.introduction}}</p>
                </div>
                <a class="align-self-center ml-auto" href="{% url 'profiles:otheruser_profile' profile.pk %}"><i class="fas fa-plus"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contents %}

{% block script %}
{% endblock script %}



