*,
*::before,
*::after {
    box-sizing: border-box;
}


//common style
.mgr-10 {
    margin-left: 10px;
}

main {
    div {
        div {
            #left-box {
                background-color: #e9967a;
                border-right: solid 2px #ff7f50;
            }

            #main-box {
                background-color: #ffefd5;

                .page-title-box {
                    margin-top: 10px;

                    p {
                        width: 60%;
                        border-top: solid 2px #f0e68c;
                        border-bottom: solid 2px #f0e68c;
                        font-family: "arial", "MS Pゴシック";
                        font-size: 200%;

                        img {
                            width: 10%;
                            height: auto;
                        }
                    }
                }

                .question-create-box {

                    form {
                        #id_title {
                            margin-bottom: 5%;
                            border: solid 2px #ff8c00;
                            width: 100%;
                        }

                        #id_title:focus {
                            outline: none;
                            box-shadow: 0 0 10px #dda0dd;
                        }

                        #content-p {
                            text-align: center;
                            font-family: "arial";
                            color: #40e0d0;
                        }

                        #tag-box {
                            margin-top: 5%;

                            p {
                                border-bottom: solid 2px #ff4500;
                            }

                            .tag-input {
                                width: 30%;
                                margin-bottom: 2%;
                                margin-right: 2%;
                                border: solid 2px #cd853f;
                                font-family: FontAwesome;
                                font-style: normal;
                                font-weight: normal;
                                text-decoration: inherit;
                                outline: none;
                            }
                        }

                        .tag-input-box-add {
                            width: 100%;

                            #tag-add-button {
                                cursor: pointer;
                            }
                        }

                        #submit-button {
                            margin-left: 80%;
                            margin-bottom: 10%;
                        }
                    }
                }
            }

            #right-box {
                background-color: #e9967a;
                border-left: solid 2px #ff7f50;
            }
        }
    }
}