{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>記事作成</title>
<link rel="stylesheet" href="{% static 'ckeditor/plugins/codesnippet/lib/highlight/styles/mono-blue.css' %}">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="{% static 'ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<link rel="stylesheet" href="{% static 'article/create/create.css' %}"/>
{% endblock stylesheet %}

{% block contents %}
<div id="page-title-box">
    <ul id="page-discription">
        <li class="emphasize-text">記事作成ページ</li>
        <li>サイト管理者もブログ初心者です</li>
        <li>お気軽に投稿してください！</li>
    </ul>
</div>
{% include 'includes/create/article/article_form.html' %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock contents %}
{% block script %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="{% static 'django-summernote-options/django_summernote_option.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript" src="{% static 'article/create/create.js' %}"></script>
{% endblock script %}