{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>記事作成</title>
<link rel="stylesheet" href="{% static 'ckeditor/plugins/codesnippet/lib/highlight/styles/mono-blue.css' %}">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">-->
<script src="{% static 'ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<link rel="stylesheet" href="{% static 'article/create/create.css' %}"/>
{% endblock stylesheet %}

{% block contents %}
<div id="page-title-box">
    <ul id="page-discription">
        <li class="emphasize-text">記事作成ページ</li>
        <li>サイト管理者もブログ初心者です</li>
        <li>お気軽に投稿してください！</li>
    </ul>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div id="title">
                            <p class="form-text">タイトル</p>
                            {{form.title}}
                        </div>
                        <div id="genre">
                            <p class="form-text">ジャンル</p>
                            {{form.genre}}
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div id="tags">
                            <p class="text-family form-text"><i class="fas fa-tags"></i><span class="mgr-10"></span>タグ</p>
                            <p class="tag-input"><input type="text" multiple name="tags" class="tag-input" placeholder="&#xf02b; tag（任意）"><button><i class="fal fa-times"></i></button></p>
                        </div>
                        <div id="publish">
                            <p class="text-family form-text">公開・下書き保存</p>
                            {{form.is_published}}
                            <div class="d-flex justify-content-center">
                                <label for="id_is_published">
                                    <div id="check-box" class="align-self-center"><div id='check-icon'></div></div>
                                </label>
                                <span>チェックを入れると公開されます</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-box" class="col-12 col-md-12 col-sm-12">
                {{form.media}}
                {{form.content}}
            </div>
        </div>
    </div>
    <button>投稿</button>
</form>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock contents %}
{% block script %}
    <script type="text/javascript" src="{% static 'django-summernote-options/django_summernote_option.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="{% static 'article/create/create.js' %}"></script>
{% endblock script %}