{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'article/detail/detail.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-xl-3" id="left-box">
        </div>


        <!--Main content article will discribe in here-->
        <div class="col-12 col-md-6 col-xl-6" id="article-content">
            <!--display title in here-->
            <div class="title-box">
                <div class="theme">
                    <p class="theme-p"><i>Theme</i></p>
                </div>
                <div class="title">
                    <p class="title">{{object.title}}</p>
                </div>
            </div>

            <hr class="horizontal-line">

            <!-- display author's information in here-->
            <div class="author-info-box">
                <p>-Author-</p>
                <div class="author-icon-box">
                    <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="author-icon-link">
                        <img src="{{MEDIA_URL}}{{object.author.user.icon}}"/>
                    </a>
                </div>
                <div class="author-name-box">
                    <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="author-icon-link">
                        <p class="author-name">{{object.author}}</p>
                    </a>
                </div>
            </div>

            <hr class="horizontal-line">

            <!--about article-->
            <div class="tags-and-good-box">
                <div class="tag-box">
                    <hr>
                    {% for tag in tags %}
                        <div class="each-tag-box">
                            <div class="icon-and-tag-name">
                                <i class="fas fa-tags"></i>
                                <p class="tags">{{tag}}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <!--display good and post good from here-->
                <div class="good-box">
                    <div class="good-number-box">
                        <p class="good-number">{{good_number}}</p>
                    </div>

                    <!--post good to this article-->
                    <div class="good-post-box">
                        <form method="POST" action="{% url 'article:good_count' %}">
                            {% csrf_token %}
                            <input type="hidden" name="good_count" value="{{object.pk}}"/>
                            <button type="submit" class="btn btn-primary">いいね！</button>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="horizontal-line content-start-hr" data-content="Content">

            <!--article content-->
            <div class="article-content-box">
                {{object.content|safe}}
            </div>

            <hr class="horizontal-line">

            <p>コメント：</p>

            <!--comment form-->
            <div class="comment-form">
                <form method="POST" action="{% url 'article:comment'%}">
                    {% csrf_token %}
                    <input type="hidden"  name="response_to" value="{{request.user}}"/>
                    <input type="hidden" name="article_pk" value="{{object.pk}}"/>
                    <textarea type="text" name="comment" id="input-comment" rows="5" cols="33" ></textarea>
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>

            <hr class="horizontal-line">

            <!--display comments-->
            <div class="comment-display-box">
                {% for comment_object in comment_objects %}
                    <div class="each-user-comment-box">
                        <div class="commentor-icon">
                            <a href="{% url 'profiles:otheruser_profile' comment_object.response_from.user.pk%}">
                                <img src="{{MEDIA_URL}}{{comment_object.response_from.user.icon}}"/>
                            </a>
                        </div>
                        <div class="commentor-name">
                            <p>{{comment_object.response_from}}</p>
                        </div>
                        <div class="comment-posted-date">
                            <p>作成日:{{comment_object.created_at|date:"y/m/d"}}</p>
                        </div>
                        <hr>
                        <div class="comment-content">
                            <p>{{comment_object.comment}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3" id="right-box">
        </div>
    </div>
</div>
{% endblock contents %}
{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock script %}
