{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <title>{{object.title}}</title>
    <link rel="stylesheet" href="{% static 'article/detail/detail.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 col-xl-9" id="article-content">
            <div id="user-info" class="d-flex">
                <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="align-self-center">
                    <img src="{{MEDIA_URL}}{{object.author.user.icon}}">
                </a>
                <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="align-self-center">
                    {{object.author}}
                </a>
            </div>
            <div id="article-info" class="d-flex">
                <div id="tag-box">
                    {% for tag in tags %}
                    <div class="each-tag-box">
                        <i class="fas fa-tags"></i>
                        {{tag}}
                    </div>
                    {% endfor %}
                </div>
                <div id="good-box">
                    <div id="good-post">
                        <form method="POST" action="{% url 'article:good_count' %}">
                            {% csrf_token %}
                            <input type="hidden" name="good_count" value="{{object.pk}}"/>
                            <button type="submit" id="good-button"><i class="fas fa-thumbs-up"></i></button>
                        </form>
                    </div>
                    <div id="good-number">{{good_number}}</div>
                </div>
            </div>
            <div id="article-content-box">
                <p id="title">{{object.title}}</p>
                {{object.content|safe}}
            </div>
            <hr class="horizontal-line">
            <p><i class="fas fa-comment"></i><span class="mgr-10"/>コメント</p>
            <div class="comment-form">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden"  name="response_to" value="{{request.user}}"/>
                    <input type="hidden" name="article_pk" value="{{object.pk}}"/>
                    {{form.media}}
                    {{form.comment}}
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
            <hr class="hr-line">
            <div id="comment-display-box">
                {% for comment_object in comment_objects %}
                <div class="each-user-comment-box">
                    <div class="d-flex commentor-info">
                        <a href="{% url 'profiles:otheruser_profile' comment_object.response_from.user.pk%}">
                            <img src="{{MEDIA_URL}}{{comment_object.response_from.user.icon}}">
                        </a>
                        <a href="{% url 'profiles:otheruser_profile' comment_object.response_from.user.pk%}" class="align-self-center">
                            {{comment_object.response_from}}
                        </a>
                        <p class="align-self-center ml-auto">{{comment_object.created_at}}</p>
                    </div>
                    <div class="comment-content">
                        {{comment_object.comment|safe}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3" id="subcontents-box">
        </div>
    </div>
</div>
{% endblock contents %}
{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock script %}
