{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <title>{{object.title}}</title>
    <link rel="stylesheet" href="{% static 'article/detail/detail.css' %}">
    <link rel="stylesheet" href="{% static 'common/detail/detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css">
{% endblock stylesheet %}
{% block contents %}
<div class="container-fluid">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-8 col-xl-8" id="article-content">
            <div id="article-info-box" class="common-font">
                <p id="article-sub-info">
                    <span id="created-at" class="info badge bg-info text-white">作成日</span>{{object.created_at|date:"Y/m/d"}}
                    <span id="updated-at" class="info badge bg-info text-white">更新日</span>{{object.updated_at|date:"Y/m/d"}}
                    <span id="genre" class="info badge bg-info text-white">ジャンル</span>{{object.genre}}
                </p>
                <p>
                    <i class="fas fa-tags"></i>
                    {% for tag in tags %}
                        <span class="tags">{{tag}}</span>
                    {% endfor %}
                </p>
            </div>
            <div id="user-info">
                <p class="common-font">この記事の作成者</p>
                <div class="d-flex">
                    <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="align-self-center">
                        <img src="{{MEDIA_URL}}{{object.author.user.icon}}">
                    </a>
                    <a href="{% url 'profiles:otheruser_profile' profile.pk %}" class="align-self-center">
                        <span class="common-font">{{object.author}}</span>
                    </a>
                </div>
            </div>
            <div id="good-box">
                <div id="good-post">
                    <form method="POST" action="{% url 'article:good_count' %}">
                        {% csrf_token %}
                        <input type="hidden" name="good_count" value="{{object.pk}}"/>
                        <button type="submit" id="good-button"><i class="fas fa-thumbs-up"></i></button>
                    </form>
                </div>
                <div id="good-number">{{good_number}}</div>
            </div>
            <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+1F7ASY+4X3U+5Z6WX" rel="nofollow">
            <img border="0" width="468" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=220514823086&wid=001&eno=01&mid=s00000022953001004000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3NAEBR+1F7ASY+4X3U+5Z6WX" alt="">
            <hr>
            <p id="expand-page">
                <a href={% url 'article:contents' object.pk %}>
                    <i class="fas fa-expand fa-2x"></i>
                </a>
            </p>
            <h1 id="title" class="title-two-colorbar">{{object.title}}</h1>
            <nav id="toc-nav" data-toggle="toc" class="navbar navbar-light flex-column common-font"><h2>見出し</h2></nav>
            <div id="article-content-box" data-bs-spy="scroll" data-bs-target="#toc-nav" data-bs-offset="10" data-bs-smooth-scroll="true" tabindex="0">
                {{object.content|safe}}
            </div>
            <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+3HMHF6+4PGA+BY641" rel="nofollow">
            <img border="0" width="936" height="120" alt="" src="https://www21.a8.net/svt/bgt?aid=220514823211&wid=001&eno=01&mid=s00000021961002007000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3NAEBR+3HMHF6+4PGA+BY641" alt="">
            <hr class="horizontal-line">
            <p><i class="fas fa-comment"></i><span class="mgr-10"/>コメント</p>
            <hr class="hr-line">
            <div class="comment-form">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden"  name="response_to" value="{{request.user}}"/>
                    <input type="hidden" name="article_pk" value="{{object.pk}}"/>
                    {{form.media}}
                    {{form.comment}}
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
            <div id="comment-display-box">
                {% for comment_object in comment_objects %}
                <div class="each-user-comment-box">
                    <div class="d-flex commentor-info">
                        <a href="{% url 'profiles:otheruser_profile' comment_object.response_from.user.pk%}">
                            <img src="{{MEDIA_URL}}{{comment_object.response_from.user.icon}}">
                        </a>
                        <a href="{% url 'profiles:otheruser_profile' comment_object.response_from.user.pk%}" class="align-self-center">
                            {{comment_object.response_from}}
                        </a>
                        <p class="align-self-center ml-auto">{{comment_object.created_at}}</p>
                    </div>
                    <div class="comment-content">
                        {{comment_object.comment|safe}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4" id="subcontents-box">
            <div id="table-of-contents">
                <hr>
                <h2 class="common-font">見出し</h2>
                <nav id="toc-nav" data-toggle="toc" class="navbar navbar-light navbar-expand-lg flex-column common-font"></nav>
                <hr>
                <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+40OCS2+4EPW+5ZEMP" rel="nofollow">
                <img border="0" width="300" height="250" alt="" src="https://www25.a8.net/svt/bgt?aid=220514823243&wid=001&eno=01&mid=s00000020570001005000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3NAEBR+40OCS2+4EPW+5ZEMP" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock contents %}

{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script type="text/javascript" src="{% static 'article/detail/detail.js' %}"></script>
    <script>window.CKEDITOR_BASEPATH = "{% static '/ckeditor/ckeditor/' %}";</script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" data-ckeditor-basepath="{% static 'ckeditor/ckeditor/' %}" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% endblock script %}
