{% extends 'base.html' %}
{% block contents %}
    <div class="searching">
        <form method="GET" action="{% url 'article:list' %}">
            <input type="text" name="article_search" placeholder="記事検索"/>
            <button type="submit" class="btn btn-success">記事検索</button>
        </form>
        <form method="GET">
            <input type="text" name="tag_search" placeholder="タグ検索"/>
            <button type="submit" class="btn btn-success">タグ検索</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class ="col-2"></div>
            <div class="col-8">
                <div class="my-div-style w-100">
                    {% for article in article_list %}
                        <div class="article">
                            <div class="author_icon">
                            <!--もし画像を選択していないときのデフォルトの画像を表示させる(今のところmodelsでやればいかなーて思ってる)-->
                                <img src="{{ MEDIA_URL }}{{article.author.user.icon}}"/>
                            </div>
                            <a href="{% url 'article:article_detail' article.pk %}"><!--詳細ページに遷移する-->
                                <h2 class="article-author">{{article.author}}</h2>
                                <h3 class-"article-title">{{article.title}}</h3>
                            </a>
                            <p class="post-meta">{{article.created_at}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
        
{% endblock contents %}