{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block stylesheet %}
    <title>記事一覧</title>
    <link rel="stylesheet" href="{% static 'article/list.css' %}"/>
{% endblock stylesheet %}
{% block contents %}
<div id="contents" class="container">
    <div id="contents-row" class="row">
        <div id="search-box" class="col-12 col-md-3 col-xl-3">
            <h1 id="search-title">記事検索</h1>
            <form method="GET" action="{% url 'article:list' %}" id="article-search">
                <p class="search-p"><input class="search-input" type="text" name="article_search" placeholder="記事検索"></input><button class="search-btn" type="submit"><i class="fas fa-search"></i></button></p>
            </form>
            <form method="GET" id="tag-search">
                <p class="search-p"><input class="search-input" type="text" name="tag_search" placeholder="タグ検索"></input><button class="search-btn" type="submit"><i class="fas fa-search"></i></button></p>
            </form>
            <form method="GET" id="genre-search">
                <p class="search-p">
                    <input type="text" list="genre-list" name="genre_search" class="list-seacrh"/>
                    <datalist id="genre-list">
                        <option class="selection">機械学習</option>
                        <option class="selection">確率統計</option>
                        <option class="selection">AI</option>
                        <option class="selection">その他</option>
                    </datalist>
                    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                </p>
            </form>
        </div>
        <div id="article-list-box" class="col-12 col-md-9 col-xl-9">
            {% for article in article_list %}
            <a class="article-link" href="{% url 'article:article_detail' article.pk %}">
            <div class="d-xl-flex d-md-flex d-sm-flex articles">
                <img class="author-icon align-self-center" src="{{ MEDIA_URL }}{{article.author.user.icon|default:'images/user-icon-default.png'}}">
                <div class="article-info align-self-center">
                    <p class="info"><i class="fas fa-user"></i><span class="mgr-10"></i>{{article.author}}</p>
                    <p class="info"><i class="far fa-calendar-alt"></i><span class="mgr-10"></span>{{article.created_at|date:"y/m/d"}}</p>
                    <p class="info">
                        {% for tag in article.tag.all %}
                        <i class="fas fa-tags"></i><span class="mgr-10"></span>{{tag}}
                        {% empty %}
                        {% endfor %}
                    </p>
                    <p class="info">
                        <i class="fas fa-hashtag"></i><span class="mgr-10"></span>{{article.genre}}
                    </p>
                </div>
                <p class="article-title align-self-center">{{article.title}}</p>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock contents %}
{% block script %}
<script type="text/javascript" src="{% static 'article/list.js' %}"></script>
{% endblock script %}
