{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block stylesheet %}
    <title>記事一覧</title>
    <link rel="stylesheet" href="{% static 'article/list.css' %}"/>
{% endblock stylesheet %}
{% block contents %}
<div id="contents" class="container">
    <div id="contents-row" class="row">
        <div id="search-box" class="col-12 col-md-3 col-xl-3">
            <div id="search">
                <h2 id="search-title">記事検索</h2>
                <form method="GET" action="{% url 'article:list' %}" id="article-search">
                    <div class="input-group mb-3" id="article-search-box">
                        <input class="search-input form-control" type="text" name="article_search" placeholder="タイトル検索" aria-label="article" aria-describedby="article-search-box"></input>
                        <div class="input-group-prepend">
                            <button class="search-btn input-group-text" type="submit"><i class="fas fa-search"></i></button>
                            <!--<span class="" id="inputGroup-sizing-default"><i class="fas fa-tags"></i></span>-->
                        </div>
                    </div>
                </form>
                <form method="GET" id="tag-search">
                    <div class="input-group mb-3" id="tag-search-box">
                        <input class="search-input form-control" type="text" name="tag_search" placeholder="タグ検索" aria-label="tag" aria-describedby="tag-search-box"></input>
                        <div class="input-group-prepend">
                            <button class="search-btn input-group-text" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <form method="GET" id="genre-search">
                    <div id="selections" class="input-group mb-3">
                        <select name="genre_search" class="custom-select" id="inputGroupSelect01">
                            <option value="None" selected>選択肢</option>
                            {% for key, value in genres.items %}
                                <option value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-prepend">
                            <button class="search-btn input-group-text" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="advertise">
                <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+5CX82+3JTE+631SX" rel="nofollow">
                <img border="0" width="160" height="600" alt="" src="https://www29.a8.net/svt/bgt?aid=220514823009&wid=001&eno=01&mid=s00000016565001022000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3NAEBR+5CX82+3JTE+631SX" alt="">
            </div>
        </div>
        <div id="article-list-box" class="col-12 col-md-9 col-xl-9">
            {% for article in article_list %}
            <a class="article-link" href="{% url 'article:article_detail' article.pk %}">
            <div class="d-xl-flex d-md-flex d-sm-flex articles">
                <img class="author-icon align-self-center" src="{{ MEDIA_URL }}{{article.author.user.icon|default:'images/user-icon-default.png'}}">
                <div class="article-info align-self-center">
                    <p class="info"><i class="fas fa-user"></i><span class="mgr-10"></i>{{article.author}}</p>
                    <p class="info"><i class="far fa-calendar-alt"></i><span class="mgr-10"></span>{{article.created_at|date:"y/m/d"}}</p>
                    <p class="info">
                        {% for tag in article.tag.all %}
                        <i class="fas fa-tags"></i><span class="mgr-10"></span>{{tag}}
                        {% empty %}
                        {% endfor %}
                    </p>
                    <p class="info">
                        <i class="fas fa-hashtag"></i><span class="mgr-10"></span>{{article.genre}}
                    </p>
                </div>
                <p class="article-title align-self-center">{{article.title}}</p>
            </div>
            </a>
            {% endfor %}
            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
            
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="advertise-footer">
    <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+4RHMA+1WP2+644DT" rel="nofollow">
    <img border="0" width="468" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=220514823008&wid=001&eno=01&mid=s00000008903001027000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NAEBR+4RHMA+1WP2+644DT" alt="">
    <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+5YCTU+50+2HQGAP" rel="nofollow">
    <img border="0" width="468" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=220514823010&wid=001&eno=01&mid=s00000000018015072000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3NAEBR+5YCTU+50+2HQGAP" alt="">
    <a href="https://px.a8.net/svt/ejp?a8mat=3NAEBR+3HMHF6+4PGA+BZ8OX" rel="nofollow">
    <img border="0" width="468" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=220514823211&wid=001&eno=01&mid=s00000021961002012000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NAEBR+3HMHF6+4PGA+BZ8OX" alt="">
</div>
{% endblock contents %}
{% block script %}
<script type="text/javascript" src="{% static 'article/list.js' %}"></script>
{% endblock script %}
