{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>お支払い</title>
{% endblock %}
{% block contents %}
    <h1>{{purchase_article.title}}を購入する</h1>
    <form action="{% url 'article:payment' purchase_article.pk %}" method="post">
        {% csrf_token %}
        <h5>お支払い金額{{purchase_article.amount}}</h5>
        <input type="hidden" name="amount" value="{{purchase_article.amount}}">
        <input type="hidden" name="customer-email" value="{{request.user.email}}">
        <input type="hidden" name="article-id" value="{{purchase_article.pk}}">
        <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="{{ publick_key }}"></script>
    </form>
{% endblock contents %}