{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<title>記事作成</title>
<link rel="stylesheet" href="{% static 'ckeditor/plugins/codesnippet/lib/highlight/styles/mono-blue.css' %}">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">-->
<script src="{% static 'ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<link rel="stylesheet" href="{% static 'article/create/create.css' %}"/>
{% endblock stylesheet %}

{% block contents %}
<div id="page-title-box">
    <ul id="page-discription">
        <li class="emphasize-text">記事作成ページ</li>
        <li>サイト管理者もブログ初心者です</li>
        <li>お気軽に投稿してください！</li>
    </ul>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div id="title">
                            <p class="form-text">タイトル</p>
                            <div class="input-group input-group-default">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                                </div>
                                {{form.title}}
                            </div>
                        </div>
                        <div id="genre">
                            <p class="form-text">ジャンル</p>
                            <div id="selections" class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="id_genre">Options</label>
                                </div>
                                <!--{{form.genre}}-->
                                <select name="genre" class="custom-select" id="inputGroupSelect01">
                                    {% if genre_selected is not None %}
                                        {% for key, value in genre_selected.items %}
                                            <option value="{{key}}" selected>{{value}}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option selected>選択肢</option>
                                    {% endif %}
            
                                    {% for key, value in genres.items %}
                                        <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.genre.errors %}
                                <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div id="tags">
                            <p class="form-text">タグ</p>
                            <div id="tag-form" class="input-group input-group-default mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-tags"></i></span>
                                </div>
                                {% for tag in tags %}
                                    <input value="{{tag}}" type="text" name="tags" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" multiple>
                                {% endfor %}
                            </div>
                            <button id="tag-add-button" type="button" class="btn btn-info">タグ追加</button>
                            <!--<p class="tag-input"><input type="text" multiple name="tags" class="tag-input"></p>-->
                        </div>
                        <div id="publish">
                            <p class="form-text"><span id="publish-or-not">公開・下書き</span>{{form.is_published}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-box" class="col-12 col-md-12 col-sm-12">
                {{form.media}}
                {{form.content}}
            </div>
        </div>
    </div>
    <button>投稿</button>
</form>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock contents %}
{% block script %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="{% static 'django-summernote-options/django_summernote_option.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript" src="{% static 'article/create/create.js' %}"></script>
{% endblock script %}